@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  opacity: 0;
  transform: translateX(-100%); /* Cambiado de 100% a -100% para empezar desde la izquierda */
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateX(0%);
}

.shine:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 75px #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "SpaceGrotesk";
  color: white;
  cursor: url("../../img/dedo.png"), auto;
}

a {
  cursor: url("../../img/dedo.png"), auto;
}

html, body {
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
  width: 80%;
}

.stars-and-meteors-container {
  position: relative;
  overflow: hidden;
}

header {
  padding-top: 2rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Cambiamos la estructura de columnas para adaptarla mejor */
  align-items: center;
  padding: 10px;
}

.logo img {
  max-width: 200px; /* Ancho máximo del logo */
  height: auto;
  display: block;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Alinea el menú al centro en dispositivos grandes */
}

ul li {
  margin: 0 10px; /* Espacio horizontal entre elementos del menú */
}

ul li:first-child {
  margin-left: 0; /* Quita el margen izquierdo del primer elemento */
}

.dark-mode {
  display: flex;
  justify-content: flex-end; /* Alinea el modo oscuro a la derecha */
  align-items: center; /* Centra verticalmente */
}

ul li a {
  text-decoration: none;
  color: #fff; /* Color de texto del menú */
}

/* Media queries para hacer responsive */
@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
    justify-items: center; /* Centra todos los elementos */
    text-align: center; /* Alinea el texto al centro */
  }
  nav ul {
    margin-top: 1rem;
  }
  .dark-mode {
    display: none;
  }
}
@media screen and (max-width: 468px) {
  nav {
    grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
    justify-items: center; /* Centra todos los elementos */
    text-align: center; /* Alinea el texto al centro */
  }
  nav ul {
    display: none;
  }
  .dark-mode {
    display: none;
  }
}
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.inicio-contenido {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem; /* Espacio entre columnas, ajusta según necesites */
}

.card {
  border: 2px solid white;
  background-color: #ffffff;
  opacity: 65%;
  border-radius: 1rem;
  padding: 20px;
  font-size: smaller;
}

.card-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0; /* Redondea las esquinas superiores */
}

.card-description, .card-text {
  padding: 10px;
}

.card-description p, .card-text p {
  margin: 0;
}

.stack {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de 100px cada una */
  grid-template-rows: repeat(2, 11fr); /* 2 filas de 100px cada una */
  gap: 2rem; /* Espacio entre los recuadros */
  justify-items: center; /* Centra los recuadros horizontalmente en sus celdas */
  align-items: center; /* Centra los recuadros verticalmente en sus celdas */
}

.recuadro {
  width: 100px;
  height: 100px;
  background-color: #007bff; /* Color de fondo para los recuadros */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white; /* Borde blanco para los recuadros */
  font-size: 18px;
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 53px 60px #fff, 1411px 248px #fff, 422px 413px #fff, 265px 673px #fff, 376px 768px #fff, 1038px 844px #fff, 1595px 464px #fff, 1886px 221px #fff, 392px 753px #fff, 1382px 664px #fff, 1427px 491px #fff, 846px 189px #fff, 781px 397px #fff, 563px 151px #fff, 1730px 912px #fff, 1198px 523px #fff, 1645px 122px #fff, 601px 193px #fff, 506px 253px #fff, 1158px 265px #fff, 1650px 296px #fff, 946px 784px #fff, 1568px 173px #fff, 897px 729px #fff, 485px 830px #fff, 854px 1px #fff, 1140px 216px #fff, 713px 812px #fff, 1395px 982px #fff, 1211px 35px #fff, 1674px 958px #fff, 330px 829px #fff, 1477px 115px #fff, 1689px 533px #fff, 1664px 586px #fff, 1207px 30px #fff, 183px 319px #fff, 1311px 57px #fff, 775px 930px #fff, 1399px 621px #fff, 382px 67px #fff, 436px 990px #fff, 615px 451px #fff, 311px 147px #fff, 1057px 458px #fff, 1373px 447px #fff, 235px 2px #fff, 179px 908px #fff, 1422px 804px #fff, 1869px 465px #fff, 170px 668px #fff, 1696px 154px #fff, 1379px 469px #fff, 1258px 316px #fff, 849px 636px #fff, 1694px 843px #fff, 1492px 404px #fff, 1300px 654px #fff, 543px 211px #fff, 658px 689px #fff, 1425px 829px #fff, 174px 103px #fff, 1765px 846px #fff, 119px 897px #fff, 295px 116px #fff, 648px 386px #fff, 554px 676px #fff, 809px 618px #fff, 874px 74px #fff, 894px 577px #fff, 1750px 768px #fff, 1456px 764px #fff, 1297px 847px #fff, 277px 761px #fff, 1594px 561px #fff, 859px 535px #fff, 226px 434px #fff, 376px 84px #fff, 1158px 975px #fff, 1005px 180px #fff, 133px 978px #fff, 116px 860px #fff, 62px 261px #fff, 741px 476px #fff, 1726px 666px #fff, 32px 983px #fff, 1697px 730px #fff, 785px 90px #fff, 1258px 750px #fff, 685px 775px #fff, 1593px 747px #fff, 1039px 698px #fff, 150px 344px #fff, 365px 485px #fff, 657px 809px #fff, 1264px 260px #fff, 1457px 233px #fff, 1057px 288px #fff, 59px 321px #fff, 786px 307px #fff, 258px 995px #fff, 1296px 581px #fff, 1858px 864px #fff, 201px 891px #fff, 1155px 667px #fff, 1418px 476px #fff, 29px 953px #fff, 886px 879px #fff, 1800px 695px #fff, 747px 251px #fff, 1339px 246px #fff, 1457px 686px #fff, 44px 419px #fff, 1441px 111px #fff, 13px 649px #fff, 1497px 851px #fff, 632px 468px #fff, 592px 938px #fff, 1667px 556px #fff, 1680px 374px #fff, 568px 555px #fff, 747px 129px #fff, 213px 393px #fff, 816px 148px #fff, 726px 873px #fff, 993px 719px #fff, 1564px 891px #fff, 558px 475px #fff, 1460px 957px #fff, 1028px 754px #fff, 585px 96px #fff, 967px 360px #fff, 877px 516px #fff, 550px 672px #fff, 1130px 745px #fff, 1320px 384px #fff, 60px 258px #fff, 614px 42px #fff, 1663px 934px #fff, 1487px 134px #fff, 1849px 203px #fff, 1349px 619px #fff, 1368px 296px #fff, 1033px 968px #fff, 204px 349px #fff, 488px 726px #fff, 214px 135px #fff, 1571px 35px #fff, 1820px 538px #fff, 1025px 647px #fff, 64px 198px #fff, 339px 234px #fff, 1006px 401px #fff, 271px 439px #fff, 1868px 502px #fff, 660px 573px #fff, 1210px 320px #fff, 1557px 967px #fff, 1153px 490px #fff, 1528px 952px #fff, 643px 655px #fff, 848px 790px #fff, 45px 128px #fff, 1784px 246px #fff, 1063px 425px #fff, 245px 873px #fff, 1381px 939px #fff, 89px 472px #fff, 1689px 751px #fff, 216px 332px #fff, 460px 871px #fff, 981px 790px #fff, 1806px 594px #fff, 284px 375px #fff, 1332px 463px #fff, 174px 385px #fff, 486px 858px #fff, 259px 850px #fff, 705px 320px #fff, 444px 475px #fff, 874px 894px #fff, 230px 45px #fff, 215px 119px #fff, 365px 331px #fff, 853px 711px #fff, 888px 347px #fff, 743px 918px #fff, 589px 519px #fff, 995px 190px #fff, 642px 464px #fff, 69px 394px #fff, 827px 613px #fff, 1767px 88px #fff, 1034px 382px #fff, 344px 554px #fff, 479px 333px #fff, 755px 781px #fff, 929px 608px #fff, 503px 210px #fff, 1398px 602px #fff, 1784px 907px #fff, 1518px 264px #fff, 270px 948px #fff, 843px 170px #fff, 1536px 849px #fff, 1474px 865px #fff, 1364px 532px #fff, 1737px 866px #fff, 1379px 929px #fff, 496px 7px #fff, 1180px 495px #fff, 1357px 231px #fff, 1413px 647px #fff, 1899px 698px #fff, 1138px 909px #fff, 1387px 797px #fff, 1383px 75px #fff, 306px 560px #fff, 1645px 637px #fff, 1310px 334px #fff, 1481px 191px #fff, 1075px 712px #fff, 1237px 750px #fff, 1694px 787px #fff, 185px 684px #fff, 456px 565px #fff, 1457px 949px #fff, 1127px 528px #fff, 1442px 335px #fff, 862px 66px #fff, 1427px 645px #fff, 1501px 919px #fff, 37px 106px #fff, 30px 727px #fff, 30px 399px #fff, 1768px 978px #fff, 1606px 750px #fff, 454px 444px #fff, 674px 557px #fff, 79px 305px #fff, 1520px 235px #fff, 1496px 427px #fff, 189px 548px #fff, 1477px 739px #fff, 966px 504px #fff, 1666px 558px #fff, 691px 879px #fff, 1016px 199px #fff, 754px 84px #fff, 357px 586px #fff, 1063px 956px #fff, 1090px 686px #fff, 1288px 295px #fff, 1562px 865px #fff, 1184px 472px #fff, 1263px 355px #fff, 695px 970px #fff, 153px 932px #fff, 315px 761px #fff, 1135px 908px #fff, 306px 336px #fff, 1592px 398px #fff, 1551px 875px #fff, 1318px 589px #fff, 1285px 462px #fff, 1376px 265px #fff, 72px 513px #fff, 1740px 170px #fff, 766px 230px #fff, 807px 808px #fff, 359px 826px #fff, 1642px 479px #fff, 250px 119px #fff, 1567px 53px #fff, 1907px 484px #fff, 1796px 276px #fff, 411px 367px #fff, 1614px 961px #fff, 906px 885px #fff, 1032px 940px #fff, 1625px 278px #fff, 204px 941px #fff, 977px 759px #fff, 1353px 251px #fff, 584px 136px #fff, 553px 217px #fff, 222px 47px #fff, 640px 899px #fff, 774px 932px #fff, 959px 257px #fff, 287px 284px #fff, 1201px 7px #fff, 1356px 351px #fff, 1607px 991px #fff, 1799px 129px #fff, 1316px 925px #fff, 842px 423px #fff, 192px 152px #fff, 1576px 685px #fff, 1361px 601px #fff, 523px 975px #fff, 251px 515px #fff, 1801px 857px #fff, 1742px 559px #fff, 562px 951px #fff, 860px 288px #fff, 1759px 928px #fff, 418px 246px #fff, 786px 802px #fff, 1810px 211px #fff, 1441px 678px #fff, 1174px 678px #fff, 1705px 116px #fff, 601px 911px #fff, 603px 824px #fff, 1186px 523px #fff, 96px 370px #fff, 807px 124px #fff, 1266px 451px #fff, 996px 618px #fff, 1601px 985px #fff, 575px 347px #fff, 1594px 890px #fff, 286px 718px #fff, 1805px 799px #fff, 1228px 673px #fff, 232px 269px #fff, 936px 940px #fff, 1578px 43px #fff, 208px 351px #fff, 535px 612px #fff, 1129px 689px #fff, 1427px 602px #fff, 1550px 997px #fff, 1544px 862px #fff, 920px 593px #fff, 972px 957px #fff, 1117px 803px #fff, 1239px 685px #fff, 1482px 251px #fff, 548px 510px #fff, 1604px 241px #fff, 1762px 62px #fff, 324px 860px #fff, 1735px 523px #fff, 210px 345px #fff, 1085px 641px #fff, 1576px 407px #fff, 1488px 841px #fff, 1809px 155px #fff, 367px 985px #fff, 1203px 380px #fff, 1039px 848px #fff, 1105px 956px #fff, 250px 92px #fff, 79px 70px #fff, 1695px 330px #fff, 1276px 967px #fff, 379px 990px #fff, 1885px 116px #fff, 194px 542px #fff, 1131px 353px #fff, 1812px 812px #fff, 1456px 202px #fff, 934px 340px #fff, 441px 595px #fff, 839px 53px #fff, 1553px 843px #fff, 963px 487px #fff, 1008px 269px #fff, 616px 332px #fff, 162px 577px #fff, 137px 659px #fff, 1852px 698px #fff, 1662px 289px #fff, 79px 201px #fff, 665px 769px #fff, 1666px 670px #fff, 952px 728px #fff, 1315px 871px #fff, 891px 494px #fff, 1234px 781px #fff, 620px 113px #fff, 471px 595px #fff, 1107px 743px #fff, 1689px 124px #fff, 1438px 763px #fff, 1008px 120px #fff, 1654px 342px #fff, 1376px 72px #fff, 1343px 814px #fff, 1177px 631px #fff, 1902px 593px #fff, 989px 937px #fff, 1273px 534px #fff, 1721px 352px #fff, 1029px 553px #fff, 1732px 80px #fff, 1680px 296px #fff, 1707px 983px #fff, 542px 109px #fff, 1296px 347px #fff, 1644px 376px #fff, 1442px 945px #fff, 1074px 517px #fff, 475px 751px #fff, 1572px 82px #fff, 537px 896px #fff, 1124px 417px #fff, 33px 656px #fff, 1514px 378px #fff, 15px 839px #fff, 1517px 551px #fff, 1483px 347px #fff, 398px 629px #fff, 879px 485px #fff, 267px 522px #fff, 829px 738px #fff, 658px 293px #fff, 8px 597px #fff, 1404px 426px #fff, 1691px 538px #fff, 47px 478px #fff, 475px 783px #fff, 1037px 344px #fff, 246px 859px #fff, 1089px 691px #fff, 1653px 596px #fff, 1733px 790px #fff, 984px 599px #fff, 1331px 556px #fff, 955px 178px #fff, 240px 437px #fff, 1204px 831px #fff, 1316px 727px #fff, 154px 373px #fff, 1282px 566px #fff, 1567px 81px #fff, 1282px 200px #fff, 1854px 818px #fff, 261px 718px #fff, 516px 856px #fff, 735px 152px #fff, 621px 270px #fff, 767px 961px #fff, 425px 59px #fff, 1192px 925px #fff, 1025px 72px #fff, 704px 450px #fff, 1211px 761px #fff, 609px 577px #fff, 1600px 962px #fff, 1534px 979px #fff, 1089px 738px #fff, 721px 605px #fff, 918px 752px #fff, 1885px 101px #fff, 738px 459px #fff, 191px 41px #fff, 1516px 105px #fff, 1443px 578px #fff, 47px 783px #fff, 6px 941px #fff, 1455px 146px #fff, 1052px 150px #fff, 499px 774px #fff, 300px 44px #fff, 1615px 309px #fff, 542px 963px #fff, 1132px 31px #fff, 1064px 852px #fff, 1704px 184px #fff, 851px 445px #fff, 573px 2px #fff, 523px 104px #fff, 1061px 344px #fff, 1093px 297px #fff, 1053px 862px #fff, 643px 769px #fff, 1719px 340px #fff, 1138px 493px #fff, 1796px 933px #fff, 1698px 957px #fff, 331px 584px #fff, 1911px 197px #fff, 190px 812px #fff, 252px 371px #fff, 731px 188px #fff, 727px 230px #fff, 912px 682px #fff, 218px 786px #fff, 53px 614px #fff, 1190px 102px #fff, 854px 194px #fff, 742px 456px #fff, 1611px 468px #fff, 1609px 263px #fff, 1467px 95px #fff, 812px 400px #fff, 1373px 79px #fff, 1603px 576px #fff, 1637px 465px #fff, 246px 962px #fff, 73px 247px #fff, 1510px 733px #fff, 1012px 309px #fff, 254px 911px #fff, 335px 760px #fff, 24px 417px #fff, 666px 700px #fff, 1834px 188px #fff, 334px 309px #fff, 1862px 665px #fff, 215px 895px #fff, 1493px 877px #fff, 1728px 979px #fff, 1147px 740px #fff, 1857px 194px #fff, 1826px 647px #fff, 582px 349px #fff, 412px 207px #fff, 1237px 868px #fff, 1170px 688px #fff, 1633px 538px #fff, 14px 382px #fff, 447px 532px #fff, 925px 726px #fff, 1914px 386px #fff, 120px 287px #fff, 180px 588px #fff, 1621px 704px #fff, 299px 11px #fff, 930px 537px #fff, 27px 735px #fff, 514px 708px #fff, 302px 262px #fff, 759px 879px #fff, 1032px 277px #fff, 667px 874px #fff, 1547px 312px #fff, 456px 168px #fff, 544px 350px #fff, 1160px 867px #fff, 980px 954px #fff, 783px 161px #fff, 1452px 748px #fff, 472px 31px #fff, 1900px 251px #fff, 282px 614px #fff, 679px 625px #fff, 1772px 161px #fff, 800px 102px #fff, 851px 562px #fff, 1427px 308px #fff, 1866px 478px #fff, 333px 19px #fff, 899px 328px #fff, 1651px 294px #fff, 1207px 796px #fff, 1745px 512px #fff, 397px 924px #fff, 1852px 84px #fff, 384px 228px #fff, 1836px 602px #fff, 1711px 176px #fff, 1153px 141px #fff, 880px 450px #fff, 397px 242px #fff, 1475px 179px #fff, 1067px 747px #fff, 1519px 855px #fff, 1704px 826px #fff, 1023px 293px #fff, 960px 369px #fff, 1835px 89px #fff, 3px 847px #fff, 772px 9px #fff, 174px 75px #fff, 592px 763px #fff, 1880px 578px #fff, 1597px 875px #fff, 1308px 395px #fff, 322px 365px #fff, 1364px 412px #fff, 1272px 873px #fff, 1585px 581px #fff, 1650px 957px #fff, 664px 803px #fff, 1876px 869px #fff, 203px 330px #fff, 379px 431px #fff, 1401px 341px #fff, 803px 851px #fff, 1281px 543px #fff, 230px 371px #fff, 1044px 364px #fff, 1318px 739px #fff, 866px 901px #fff, 1117px 171px #fff, 147px 129px #fff, 584px 813px #fff, 397px 956px #fff, 580px 108px #fff, 1439px 453px #fff, 1050px 482px #fff, 53px 738px #fff, 810px 302px #fff, 1519px 615px #fff, 1533px 311px #fff, 874px 136px #fff, 897px 698px #fff, 1807px 887px #fff, 523px 19px #fff, 1276px 234px #fff, 706px 222px #fff, 363px 677px #fff, 1531px 540px #fff, 155px 196px #fff, 387px 254px #fff, 536px 833px #fff, 990px 634px #fff, 143px 763px #fff, 412px 94px #fff, 1355px 924px #fff, 735px 920px #fff, 1901px 119px #fff, 962px 235px #fff, 1337px 573px #fff, 720px 943px #fff, 721px 488px #fff, 592px 460px #fff, 1190px 403px #fff, 6px 39px #fff, 1625px 322px #fff, 1730px 962px #fff, 875px 625px #fff, 760px 373px #fff, 1608px 434px #fff, 80px 189px #fff, 1359px 471px #fff, 1244px 174px #fff, 862px 177px #fff, 1498px 543px #fff, 957px 872px #fff, 1698px 993px #fff, 111px 30px #fff, 325px 747px #fff, 909px 601px #fff, 1863px 47px #fff, 1867px 429px #fff, 879px 202px #fff, 379px 278px #fff, 745px 259px #fff, 1397px 585px #fff, 951px 597px #fff, 1540px 111px #fff, 975px 829px #fff, 1439px 774px #fff, 1624px 508px #fff, 1027px 813px #fff, 1060px 648px #fff, 502px 447px #fff, 1658px 801px #fff, 366px 666px #fff, 1064px 606px #fff, 396px 914px #fff, 1628px 171px #fff, 540px 974px #fff, 502px 870px #fff, 235px 253px #fff, 202px 523px #fff, 709px 237px #fff, 1733px 120px #fff, 102px 960px #fff, 1271px 57px #fff, 1587px 530px #fff, 1794px 19px #fff, 1512px 413px #fff, 1594px 746px #fff, 583px 756px #fff, 1492px 870px #fff, 1688px 331px #fff, 349px 116px #fff, 694px 471px #fff, 395px 134px #fff, 1213px 288px #fff, 559px 315px #fff, 1828px 415px #fff, 199px 463px #fff, 1364px 356px #fff, 1229px 702px #fff, 761px 15px #fff, 1829px 45px #fff, 1322px 893px #fff, 612px 253px #fff, 1611px 336px #fff, 239px 423px #fff, 690px 880px #fff, 357px 917px #fff, 202px 251px #fff, 1917px 244px #fff, 1892px 28px #fff, 356px 323px #fff, 191px 568px #fff, 1748px 670px #fff, 1639px 305px #fff, 570px 846px #fff, 106px 446px #fff, 606px 887px #fff, 1158px 962px #fff, 1707px 363px #fff, 1140px 696px #fff, 71px 128px #fff, 1841px 400px #fff, 1079px 532px #fff, 732px 107px #fff, 540px 313px #fff, 1470px 595px #fff, 1070px 414px #fff, 307px 954px #fff, 115px 966px #fff, 1304px 380px #fff, 1782px 158px #fff, 301px 967px #fff, 1093px 568px #fff, 392px 238px #fff, 518px 619px #fff, 680px 233px #fff, 313px 259px #fff, 633px 828px #fff, 560px 122px #fff, 1598px 125px #fff, 363px 591px #fff, 1324px 194px #fff, 1449px 676px #fff, 929px 216px #fff, 1087px 649px #fff, 1605px 640px #fff, 1627px 590px #fff, 1578px 574px #fff, 1193px 7px #fff, 683px 948px #fff, 1726px 203px #fff, 404px 878px #fff, 34px 120px #fff, 556px 963px #fff, 1061px 321px #fff, 1052px 228px #fff, 358px 600px #fff, 418px 392px #fff, 613px 892px #fff, 17px 836px #fff, 1594px 209px #fff, 1564px 521px #fff, 1813px 591px #fff, 1712px 442px #fff, 97px 523px #fff, 1717px 980px #fff, 1168px 655px #fff, 1884px 424px #fff, 1797px 518px #fff, 1388px 72px #fff, 1607px 898px #fff, 801px 384px #fff, 1770px 361px #fff, 876px 899px #fff, 1606px 575px #fff, 304px 799px #fff, 536px 603px #fff, 1597px 872px #fff, 12px 578px #fff, 421px 526px #fff, 916px 257px #fff, 329px 753px #fff, 63px 53px #fff, 1513px 41px #fff, 1664px 94px #fff, 476px 458px #fff, 1567px 244px #fff, 952px 539px #fff, 168px 290px #fff, 962px 340px #fff, 1160px 550px #fff, 1259px 457px #fff, 377px 869px #fff, 187px 869px #fff, 645px 727px #fff, 1232px 843px #fff, 225px 217px #fff, 1454px 560px #fff, 1007px 249px #fff, 839px 328px #fff, 992px 427px #fff, 180px 342px #fff, 246px 460px #fff, 808px 844px #fff, 1650px 204px #fff, 1362px 535px #fff, 862px 3px #fff, 167px 350px #fff, 1433px 790px #fff, 1072px 553px #fff, 942px 232px #fff, 1842px 5px #fff, 1296px 967px #fff, 877px 721px #fff, 1545px 342px #fff, 1239px 409px #fff, 337px 403px #fff, 139px 593px #fff, 883px 196px #fff, 1557px 1px #fff, 1515px 139px #fff, 239px 36px #fff, 1056px 517px #fff, 1596px 83px #fff, 673px 678px #fff, 1718px 998px #fff, 1388px 894px #fff, 1587px 634px #fff, 522px 875px #fff, 103px 59px #fff, 611px 180px #fff, 53px 939px #fff, 1313px 465px #fff, 197px 50px #fff, 1098px 970px #fff, 128px 949px #fff, 1289px 714px #fff, 1087px 221px #fff, 601px 138px #fff, 417px 882px #fff, 373px 426px #fff, 572px 996px #fff, 842px 277px #fff, 1755px 388px #fff, 1525px 680px #fff, 613px 168px #fff, 1679px 387px #fff, 460px 974px #fff, 804px 923px #fff, 1730px 167px #fff, 71px 258px #fff, 1543px 441px #fff, 756px 298px #fff, 900px 143px #fff, 662px 212px #fff, 1557px 57px #fff, 1803px 362px #fff, 947px 7px #fff, 1331px 646px #fff, 142px 347px #fff, 861px 753px #fff, 1687px 674px #fff, 308px 412px #fff, 1016px 495px #fff, 1213px 767px #fff, 1553px 592px #fff, 1336px 947px #fff, 816px 14px #fff, 481px 331px #fff, 1368px 352px #fff, 575px 993px #fff, 442px 389px #fff, 1032px 788px #fff, 625px 283px #fff, 1374px 726px #fff, 1691px 967px #fff, 1025px 355px #fff, 1607px 495px #fff, 1559px 585px #fff, 1041px 98px #fff, 1351px 539px #fff, 496px 382px #fff, 964px 583px #fff, 1669px 61px #fff, 1313px 434px #fff, 36px 456px #fff, 1713px 574px #fff, 1209px 840px #fff, 1540px 602px #fff, 1629px 593px #fff, 1530px 240px #fff, 599px 605px #fff, 989px 390px #fff, 227px 185px #fff, 379px 746px #fff, 1658px 960px #fff, 499px 778px #fff, 809px 659px #fff, 1635px 249px #fff, 1109px 198px #fff, 901px 437px #fff, 433px 561px #fff, 1862px 434px #fff, 1562px 374px #fff, 967px 338px #fff, 1097px 416px #fff, 44px 288px #fff, 864px 955px #fff, 258px 76px #fff, 902px 910px #fff, 62px 386px #fff, 681px 592px #fff, 1249px 445px #fff, 1736px 66px #fff, 355px 48px #fff, 757px 290px #fff, 646px 516px #fff, 1569px 569px #fff, 598px 304px #fff, 295px 552px #fff, 643px 939px #fff, 529px 453px #fff, 1695px 710px #fff, 112px 190px #fff, 244px 424px #fff, 544px 885px #fff, 355px 455px #fff, 1856px 477px #fff, 1558px 984px #fff, 759px 164px #fff, 814px 605px #fff, 455px 408px #fff, 799px 706px #fff, 948px 760px #fff, 1909px 441px #fff, 1323px 75px #fff, 463px 786px #fff, 538px 280px #fff, 1468px 290px #fff, 1133px 512px #fff, 854px 401px #fff, 80px 860px #fff, 729px 670px #fff, 677px 636px #fff, 433px 270px #fff, 1283px 302px #fff, 224px 904px #fff, 601px 289px #fff, 606px 991px #fff, 617px 982px #fff, 52px 788px #fff, 380px 813px #fff, 1629px 616px #fff, 1733px 12px #fff, 929px 644px #fff, 230px 909px #fff, 893px 676px #fff, 1891px 657px #fff, 609px 469px #fff, 1892px 563px #fff, 1462px 311px #fff, 1103px 517px #fff, 1366px 287px #fff, 1314px 814px #fff, 311px 598px #fff, 747px 286px #fff, 1127px 326px #fff, 348px 704px #fff, 524px 301px #fff, 887px 101px #fff, 1552px 798px #fff, 1575px 513px #fff, 33px 809px #fff, 1750px 350px #fff, 1022px 712px #fff, 422px 454px #fff, 412px 781px #fff, 1162px 359px #fff, 434px 399px #fff, 1888px 604px #fff, 641px 476px #fff, 790px 432px #fff, 1485px 852px #fff, 1533px 257px #fff, 1305px 587px #fff, 1098px 274px #fff, 19px 839px #fff, 1401px 527px #fff, 462px 717px #fff, 1606px 453px #fff, 182px 922px #fff, 1647px 855px #fff, 333px 14px #fff, 67px 286px #fff, 1819px 121px #fff, 777px 798px #fff, 1611px 983px #fff, 1586px 987px #fff, 9px 276px #fff, 1289px 516px #fff, 665px 398px #fff, 256px 59px #fff, 1633px 530px #fff, 1755px 646px #fff, 1072px 707px #fff, 20px 113px #fff, 287px 605px #fff, 326px 962px #fff, 1879px 806px #fff, 1365px 976px #fff, 1080px 946px #fff, 210px 833px #fff, 372px 775px #fff, 1818px 980px #fff, 171px 924px #fff, 452px 994px #fff, 1107px 602px #fff, 1756px 43px #fff, 90px 980px #fff, 804px 403px #fff, 1880px 544px #fff, 766px 201px #fff, 1291px 907px #fff, 1893px 959px #fff, 120px 248px #fff, 581px 940px #fff, 605px 762px #fff, 537px 435px #fff, 526px 993px #fff, 1186px 348px #fff, 714px 185px #fff, 970px 881px #fff, 566px 532px #fff, 1786px 396px #fff, 1361px 278px #fff, 66px 744px #fff, 169px 887px #fff, 1524px 853px #fff, 941px 482px #fff, 690px 948px #fff, 880px 108px #fff, 735px 965px #fff, 93px 892px #fff, 837px 506px #fff, 1441px 703px #fff, 190px 393px #fff, 1204px 955px #fff, 1607px 585px #fff, 401px 336px #fff, 449px 877px #fff, 1094px 136px #fff, 1762px 129px #fff, 762px 454px #fff, 572px 622px #fff, 846px 730px #fff, 623px 623px #fff, 1859px 860px #fff, 801px 27px #fff, 712px 684px #fff, 1386px 484px #fff, 1317px 836px #fff, 103px 213px #fff, 1520px 901px #fff, 1338px 88px #fff, 1805px 517px #fff, 881px 916px #fff, 983px 224px #fff, 1441px 980px #fff, 761px 374px #fff, 1850px 407px #fff, 273px 543px #fff, 1806px 94px #fff, 65px 562px #fff, 914px 806px #fff, 1840px 510px #fff, 1257px 471px #fff, 551px 452px #fff, 212px 844px #fff, 816px 757px #fff, 95px 693px #fff, 129px 781px #fff, 569px 485px #fff, 1749px 16px #fff, 306px 668px #fff, 1006px 872px #fff, 1362px 387px #fff, 1884px 807px #fff, 1185px 697px #fff, 1174px 739px #fff, 1033px 88px #fff, 385px 549px #fff, 1672px 724px #fff, 1108px 331px #fff, 1010px 79px #fff, 1834px 979px #fff, 914px 858px #fff, 1014px 874px #fff, 1628px 264px #fff, 762px 897px #fff, 1670px 110px #fff, 874px 114px #fff, 940px 694px #fff, 1884px 511px #fff, 488px 743px #fff, 699px 171px #fff, 1489px 871px #fff, 286px 562px #fff, 920px 405px #fff, 1263px 11px #fff, 1599px 583px #fff, 516px 235px #fff, 1225px 370px #fff, 896px 165px #fff, 1573px 497px #fff, 876px 640px #fff, 370px 320px #fff, 1345px 284px #fff, 1107px 747px #fff, 424px 585px #fff, 313px 36px #fff, 971px 981px #fff, 1413px 289px #fff, 257px 164px #fff, 1295px 995px #fff, 1254px 163px #fff, 1415px 518px #fff, 620px 153px #fff, 1289px 759px #fff, 1113px 124px #fff, 1579px 901px #fff, 713px 38px #fff, 563px 865px #fff, 151px 965px #fff, 203px 786px #fff, 1732px 601px #fff, 747px 66px #fff, 701px 635px #fff, 983px 401px #fff, 1882px 100px #fff, 395px 608px #fff, 1400px 595px #fff, 300px 290px #fff, 1325px 348px #fff, 1462px 739px #fff, 1187px 464px #fff, 107px 200px #fff, 1026px 520px #fff, 909px 298px #fff, 855px 562px #fff, 369px 671px #fff, 1591px 551px #fff, 1206px 845px #fff, 623px 531px #fff, 1136px 947px #fff, 1423px 925px #fff, 1251px 228px #fff, 1297px 604px #fff, 446px 688px #fff, 1151px 914px #fff, 1167px 884px #fff, 24px 232px #fff, 1845px 82px #fff, 756px 776px #fff, 1067px 900px #fff, 1847px 613px #fff, 1081px 252px #fff, 242px 931px #fff, 1301px 332px #fff, 325px 607px #fff, 250px 374px #fff, 1714px 784px #fff, 483px 577px #fff, 46px 93px #fff, 1881px 199px #fff, 1502px 548px #fff, 1130px 705px #fff, 486px 118px #fff, 389px 405px #fff, 39px 631px #fff, 1458px 574px #fff, 242px 844px #fff, 584px 660px #fff, 989px 230px #fff, 1895px 254px #fff, 1627px 595px #fff, 1064px 923px #fff, 523px 143px #fff, 1024px 400px #fff, 1758px 313px #fff, 420px 861px #fff, 1123px 193px #fff, 666px 838px #fff, 750px 961px #fff, 89px 973px #fff, 292px 726px #fff, 1528px 341px #fff, 110px 50px #fff, 1741px 445px #fff, 328px 160px #fff, 1003px 174px #fff, 1193px 31px #fff, 942px 480px #fff, 1183px 282px #fff, 1243px 107px #fff, 903px 540px #fff, 545px 717px #fff, 871px 419px #fff, 1814px 267px #fff, 197px 379px #fff, 1905px 433px #fff, 860px 848px #fff, 824px 851px #fff, 247px 569px #fff, 403px 249px #fff, 1165px 468px #fff, 239px 848px #fff, 185px 38px #fff, 685px 820px #fff, 1447px 5px #fff, 1144px 457px #fff, 1408px 499px #fff, 799px 27px #fff, 436px 265px #fff, 1471px 802px #fff, 1835px 147px #fff, 1451px 337px #fff, 1918px 598px #fff, 1919px 967px #fff, 843px 636px #fff, 328px 175px #fff, 757px 402px #fff, 202px 624px #fff, 1713px 277px #fff, 1071px 772px #fff, 1401px 121px #fff, 393px 879px #fff, 1812px 60px #fff, 1358px 268px #fff, 921px 186px #fff, 821px 100px #fff, 499px 744px #fff, 1437px 965px #fff, 397px 310px #fff, 277px 829px #fff, 246px 776px #fff, 1376px 728px #fff, 232px 337px #fff, 1334px 289px #fff, 381px 503px #fff, 943px 53px #fff, 868px 88px #fff, 1430px 393px #fff, 316px 646px #fff, 478px 770px #fff, 529px 689px #fff, 30px 602px #fff, 1400px 324px #fff, 671px 611px #fff, 739px 380px #fff, 905px 774px #fff, 146px 289px #fff, 452px 885px #fff, 1056px 959px #fff, 1552px 960px #fff, 1528px 677px #fff, 1810px 800px #fff, 397px 26px #fff, 1228px 735px #fff, 890px 979px #fff, 790px 486px #fff, 580px 615px #fff, 822px 627px #fff, 1370px 795px #fff, 1381px 287px #fff, 814px 736px #fff, 87px 329px #fff, 353px 770px #fff, 923px 14px #fff, 76px 927px #fff, 685px 833px #fff, 42px 87px #fff, 1124px 477px #fff, 1881px 724px #fff, 1228px 528px #fff, 1800px 11px #fff, 1456px 448px #fff, 216px 453px #fff, 196px 2px #fff, 124px 637px #fff, 186px 455px #fff, 762px 903px #fff, 1714px 311px #fff, 882px 10px #fff, 1538px 912px #fff, 1410px 708px #fff, 1216px 444px #fff, 320px 635px #fff, 513px 996px #fff, 533px 79px #fff, 127px 819px #fff, 1515px 906px #fff, 1812px 135px #fff, 1202px 771px #fff, 808px 118px #fff, 922px 517px #fff, 1654px 180px #fff, 1256px 515px #fff, 1676px 22px #fff, 1459px 437px #fff, 680px 598px #fff, 677px 858px #fff, 1229px 971px #fff, 1207px 426px #fff, 72px 400px #fff, 1916px 332px #fff, 1514px 206px #fff, 1172px 822px #fff, 1362px 972px #fff, 1275px 431px #fff, 1526px 747px #fff, 1839px 276px #fff, 1398px 924px #fff, 608px 4px #fff, 1851px 26px #fff, 221px 909px #fff, 281px 782px #fff, 1091px 225px #fff, 1241px 392px #fff, 1784px 955px #fff, 47px 301px #fff, 24px 565px #fff, 1144px 153px #fff, 486px 452px #fff, 652px 379px #fff, 172px 546px #fff, 1020px 445px #fff, 839px 622px #fff, 1434px 63px #fff, 338px 606px #fff, 1053px 362px #fff, 938px 169px #fff, 150px 783px #fff, 204px 663px #fff, 809px 12px #fff, 355px 169px #fff, 934px 677px #fff, 183px 191px #fff, 1892px 846px #fff, 181px 474px #fff, 299px 635px #fff, 1639px 605px #fff, 982px 233px #fff, 1082px 488px #fff, 587px 449px #fff, 644px 548px #fff, 1047px 192px #fff, 802px 629px #fff, 1650px 17px #fff, 1233px 397px #fff, 1665px 117px #fff, 623px 10px #fff, 796px 412px #fff, 1124px 138px #fff, 311px 434px #fff, 1381px 657px #fff, 1676px 726px #fff, 1386px 931px #fff, 1707px 571px #fff, 998px 12px #fff, 314px 844px #fff, 715px 718px #fff, 1007px 537px #fff, 718px 881px #fff, 1364px 697px #fff, 1783px 671px #fff, 1002px 371px #fff, 940px 627px #fff, 582px 913px #fff, 1466px 218px #fff, 681px 618px #fff, 476px 136px #fff, 1570px 208px #fff, 1764px 486px #fff, 39px 196px #fff, 189px 241px #fff, 530px 555px #fff, 616px 983px #fff, 1341px 659px #fff, 1632px 827px #fff, 1769px 913px #fff, 1374px 634px #fff, 1169px 36px #fff, 865px 839px #fff, 665px 645px #fff, 1112px 713px #fff, 127px 360px #fff, 586px 442px #fff, 197px 223px #fff, 1615px 822px #fff, 983px 151px #fff, 805px 750px #fff, 567px 170px #fff, 510px 40px #fff, 1060px 876px #fff, 503px 523px #fff, 1027px 969px #fff, 234px 640px #fff, 1529px 896px #fff, 968px 369px #fff, 934px 240px #fff, 1621px 613px #fff, 139px 124px #fff, 166px 239px #fff, 1549px 716px #fff, 1283px 576px #fff, 1236px 410px #fff, 642px 805px #fff, 62px 954px #fff, 76px 616px #fff, 574px 705px #fff, 1863px 458px #fff, 1870px 777px #fff, 907px 617px #fff, 1594px 466px #fff, 1206px 820px #fff, 750px 293px #fff, 1698px 131px #fff, 786px 364px #fff, 400px 589px #fff, 1463px 354px #fff, 911px 467px #fff, 1427px 407px #fff, 359px 712px #fff, 710px 68px #fff, 152px 316px #fff, 1238px 662px #fff, 439px 365px #fff, 1486px 318px #fff, 159px 767px #fff, 442px 788px #fff, 1749px 586px #fff, 43px 502px #fff, 118px 928px #fff, 1450px 589px #fff, 1776px 99px #fff, 1359px 438px #fff, 827px 647px #fff, 1842px 865px #fff, 1775px 910px #fff, 1495px 778px #fff, 270px 868px #fff, 710px 230px #fff, 1471px 158px #fff, 1531px 671px #fff, 1871px 425px #fff, 567px 719px #fff, 24px 640px #fff, 148px 634px #fff, 1393px 672px #fff, 325px 945px #fff, 1014px 881px #fff, 1743px 319px #fff, 1343px 365px #fff, 257px 468px #fff, 267px 798px #fff, 120px 474px #fff, 903px 370px #fff, 1512px 258px #fff, 987px 6px #fff, 1875px 498px #fff, 1750px 188px #fff, 1191px 338px #fff, 733px 373px #fff, 1336px 134px #fff, 1358px 712px #fff, 1387px 535px #fff, 136px 508px #fff, 1660px 243px #fff, 1076px 82px #fff, 1021px 892px #fff, 1046px 439px #fff, 1522px 470px #fff, 1627px 336px #fff, 66px 190px #fff, 1241px 919px #fff, 125px 911px #fff, 1273px 718px #fff, 797px 520px #fff, 1792px 911px #fff, 168px 955px #fff, 1846px 770px #fff, 1725px 501px #fff, 1665px 310px #fff, 461px 296px #fff, 1834px 929px #fff, 1326px 470px #fff, 818px 519px #fff, 448px 272px #fff, 94px 234px #fff, 1920px 487px #fff, 355px 807px #fff, 626px 859px #fff, 18px 753px #fff, 820px 113px #fff, 536px 849px #fff, 1593px 176px #fff, 1798px 453px #fff, 92px 394px #fff, 1674px 111px #fff, 909px 273px #fff, 1675px 324px #fff, 481px 593px #fff, 630px 941px #fff, 247px 861px #fff, 1754px 794px #fff, 1436px 792px #fff, 400px 23px #fff, 807px 748px #fff, 915px 253px #fff, 1569px 928px #fff, 1859px 530px #fff, 153px 35px #fff, 878px 469px #fff, 1311px 604px #fff, 1634px 24px #fff, 880px 926px #fff, 1433px 707px #fff, 1507px 616px #fff, 1335px 71px #fff, 367px 290px #fff, 587px 766px #fff, 1542px 189px #fff, 1848px 874px #fff, 794px 494px #fff, 791px 962px #fff, 882px 36px #fff, 1867px 42px #fff, 1904px 51px #fff, 940px 635px #fff, 1639px 684px #fff, 267px 970px #fff, 612px 997px #fff, 904px 45px #fff, 1568px 602px #fff, 1532px 92px #fff, 396px 740px #fff, 703px 315px #fff, 220px 526px #fff, 427px 276px #fff, 1719px 576px #fff, 1780px 825px #fff, 1605px 738px #fff, 1356px 756px #fff, 1819px 144px #fff, 1581px 90px #fff, 1745px 480px #fff, 1822px 23px #fff, 1389px 818px #fff, 792px 169px #fff, 1417px 66px #fff, 689px 939px #fff, 1256px 875px #fff, 1895px 710px #fff, 1145px 65px #fff, 1439px 294px #fff, 1669px 614px #fff, 815px 807px #fff, 1257px 658px #fff, 1506px 125px #fff, 1120px 828px #fff, 1519px 35px #fff, 623px 78px #fff, 231px 39px #fff, 852px 655px #fff, 1050px 571px #fff, 1722px 25px #fff, 767px 186px #fff, 580px 833px #fff, 71px 911px #fff, 425px 691px #fff, 1838px 977px #fff, 1713px 163px #fff, 446px 703px #fff, 1097px 382px #fff, 1383px 364px #fff, 409px 356px #fff, 1101px 984px #fff, 1666px 788px #fff, 176px 856px #fff, 883px 54px #fff, 1404px 437px #fff, 1547px 600px #fff, 50px 10px #fff, 346px 828px #fff, 300px 3px #fff, 639px 874px #fff, 822px 863px #fff, 1876px 940px #fff, 1385px 544px #fff, 71px 250px #fff, 590px 842px #fff, 1503px 87px #fff, 1612px 975px #fff, 524px 160px #fff, 1313px 191px #fff, 1113px 131px #fff, 332px 523px #fff, 1587px 666px #fff, 180px 670px #fff, 745px 795px #fff, 73px 521px #fff, 1487px 715px #fff, 504px 55px #fff, 186px 827px #fff, 406px 185px #fff, 1556px 514px #fff, 682px 869px #fff, 309px 556px #fff, 1691px 547px #fff, 134px 331px #fff, 151px 660px #fff, 373px 398px #fff, 800px 914px #fff, 1539px 746px #fff, 331px 329px #fff, 322px 517px #fff, 1187px 14px #fff, 778px 385px #fff, 375px 76px #fff, 1499px 386px #fff, 1683px 860px #fff, 1654px 827px #fff, 1646px 402px #fff, 1914px 554px #fff, 784px 451px #fff, 1519px 1000px #fff, 595px 746px #fff, 1066px 576px #fff, 30px 544px #fff, 1356px 663px #fff, 1765px 787px #fff, 1591px 224px #fff, 422px 24px #fff, 914px 38px #fff, 1079px 449px #fff, 1764px 54px #fff, 911px 948px #fff, 1153px 772px #fff, 291px 675px #fff, 570px 763px #fff, 1389px 907px #fff, 1394px 594px #fff, 1393px 725px #fff, 995px 154px #fff, 1739px 713px #fff, 564px 15px #fff, 1113px 416px #fff, 1475px 442px #fff, 1588px 942px #fff, 1203px 625px #fff, 1px 471px #fff, 387px 925px #fff, 790px 615px #fff, 533px 74px #fff, 415px 814px #fff, 1688px 404px #fff, 674px 249px #fff, 417px 757px #fff, 1321px 132px #fff, 1425px 563px #fff, 903px 680px #fff, 1842px 349px #fff, 1286px 623px #fff, 877px 550px #fff, 505px 816px #fff, 968px 413px #fff, 758px 1000px #fff, 120px 604px #fff, 1303px 16px #fff, 946px 185px #fff, 1467px 109px #fff, 1421px 715px #fff, 1183px 70px #fff, 1865px 301px #fff, 1550px 493px #fff, 871px 564px #fff, 205px 541px #fff, 1241px 416px #fff, 940px 580px #fff, 357px 476px #fff, 1131px 201px #fff, 793px 991px #fff, 1793px 196px #fff, 1910px 860px #fff, 869px 672px #fff, 1320px 932px #fff, 203px 406px #fff, 48px 172px #fff, 1371px 675px #fff, 385px 165px #fff, 838px 677px #fff, 1659px 731px #fff, 35px 756px #fff, 449px 759px #fff, 1259px 547px #fff, 955px 247px #fff, 1809px 574px #fff, 378px 487px #fff, 967px 292px #fff, 1423px 590px #fff, 141px 373px #fff, 5px 372px #fff, 1836px 643px #fff, 1864px 879px #fff, 69px 226px #fff, 265px 474px #fff, 1368px 508px #fff, 833px 346px #fff, 881px 266px #fff, 1181px 21px #fff, 1312px 486px #fff, 616px 317px #fff, 1462px 484px #fff, 1227px 98px #fff, 509px 25px #fff, 1700px 971px #fff, 212px 231px #fff, 674px 440px #fff, 775px 913px #fff, 1140px 632px #fff, 1282px 90px #fff, 1551px 150px #fff, 156px 335px #fff, 17px 22px #fff, 1456px 651px #fff, 1891px 134px #fff, 1917px 911px #fff, 1010px 642px #fff, 954px 464px #fff, 99px 251px #fff, 1111px 833px #fff, 1917px 304px #fff, 745px 329px #fff, 1420px 960px #fff, 64px 84px #fff, 53px 736px #fff, 102px 958px #fff, 784px 893px #fff, 550px 195px #fff, 931px 429px #fff, 655px 897px #fff, 1417px 208px #fff, 339px 348px #fff, 179px 922px #fff, 233px 38px #fff, 1185px 632px #fff, 1723px 618px #fff, 146px 938px #fff, 74px 400px #fff, 1866px 666px #fff, 1778px 273px #fff, 1171px 669px #fff, 105px 194px #fff, 1455px 612px #fff, 1240px 929px #fff, 210px 109px #fff, 558px 823px #fff, 315px 452px #fff, 1043px 667px #fff, 1205px 55px #fff, 36px 537px #fff, 1137px 925px #fff, 1856px 38px #fff, 1723px 176px #fff, 168px 728px #fff, 1062px 194px #fff, 1169px 871px #fff, 1703px 331px #fff, 339px 566px #fff, 1814px 539px #fff, 1063px 287px #fff, 741px 784px #fff, 1419px 257px #fff, 484px 661px #fff, 1519px 948px #fff, 211px 344px #fff, 514px 307px #fff, 418px 740px #fff, 1577px 481px #fff, 1852px 632px #fff, 1590px 946px #fff, 1294px 222px #fff, 377px 968px #fff, 1508px 286px #fff, 1134px 95px #fff, 74px 668px #fff, 328px 686px #fff, 798px 854px #fff, 1633px 370px #fff, 1207px 141px #fff, 1074px 424px #fff, 357px 604px #fff, 371px 869px #fff, 490px 613px #fff, 1085px 884px #fff, 1575px 764px #fff, 11px 132px #fff, 637px 944px #fff, 875px 58px #fff, 781px 343px #fff, 1283px 311px #fff, 269px 187px #fff, 1602px 693px #fff, 1255px 47px #fff, 672px 536px #fff, 473px 927px #fff, 218px 121px #fff, 211px 795px #fff, 501px 650px #fff, 129px 693px #fff, 1603px 961px #fff, 1808px 163px #fff, 622px 522px #fff, 1775px 356px #fff, 982px 698px #fff, 1384px 357px #fff, 1597px 320px #fff, 800px 304px #fff, 1756px 640px #fff, 1146px 914px #fff, 839px 839px #fff, 847px 917px #fff, 1787px 310px #fff, 1030px 463px #fff, 1711px 287px #fff, 1672px 223px #fff, 1076px 550px #fff, 484px 456px #fff, 1269px 73px #fff, 1050px 240px #fff, 233px 566px #fff, 1460px 218px #fff, 662px 206px #fff, 1499px 450px #fff, 1732px 831px #fff, 313px 356px #fff, 499px 187px #fff, 783px 509px #fff, 925px 579px #fff, 338px 126px #fff, 1333px 453px #fff, 812px 698px #fff, 1118px 233px #fff, 1367px 123px #fff, 1642px 722px #fff, 427px 163px #fff, 1132px 601px #fff, 979px 902px #fff, 1767px 84px #fff, 1458px 856px #fff, 300px 858px #fff, 100px 439px #fff, 189px 274px #fff, 77px 33px #fff, 18px 665px #fff, 61px 611px #fff, 1663px 866px #fff, 1180px 43px #fff, 1263px 599px #fff, 1632px 742px #fff, 1282px 943px #fff, 688px 504px #fff, 1110px 255px #fff, 936px 564px #fff, 581px 104px #fff, 1189px 330px #fff, 1391px 221px #fff, 1277px 275px #fff, 1566px 597px #fff, 1525px 138px #fff, 1782px 196px #fff, 1324px 819px #fff, 104px 589px #fff, 1804px 488px #fff, 1032px 798px #fff, 613px 648px #fff, 756px 655px #fff, 345px 330px #fff, 115px 609px #fff, 354px 305px #fff, 1731px 240px #fff, 878px 983px #fff, 424px 498px #fff, 896px 251px #fff, 1524px 91px #fff, 231px 630px #fff, 1812px 30px #fff, 629px 535px #fff, 1787px 158px #fff, 1664px 465px #fff, 93px 961px #fff, 566px 255px #fff, 910px 583px #fff, 462px 178px #fff, 529px 217px #fff, 820px 994px #fff, 1906px 520px #fff, 962px 562px #fff, 567px 944px #fff, 616px 717px #fff, 356px 51px #fff, 878px 274px #fff, 1385px 925px #fff, 623px 52px #fff, 950px 928px #fff, 545px 262px #fff, 1050px 881px #fff, 69px 9px #fff, 1401px 414px #fff, 263px 239px #fff, 1521px 191px #fff, 1712px 704px #fff, 1038px 502px #fff, 229px 223px #fff, 318px 680px #fff, 1573px 937px #fff, 1642px 404px #fff, 1553px 778px #fff, 331px 886px #fff, 327px 107px #fff, 1373px 955px #fff, 1055px 46px #fff, 1701px 961px #fff, 448px 439px #fff, 242px 724px #fff, 1902px 368px #fff, 1035px 414px #fff, 950px 126px #fff, 1797px 107px #fff, 1768px 393px #fff, 894px 510px #fff, 1527px 216px #fff, 1881px 303px #fff, 454px 991px #fff, 1091px 455px #fff, 1434px 457px #fff, 987px 719px #fff, 1250px 338px #fff, 1801px 592px #fff, 1237px 858px #fff, 794px 902px #fff, 227px 126px #fff, 277px 94px #fff, 1636px 600px #fff, 1405px 855px #fff, 1876px 854px #fff, 1175px 994px #fff, 131px 678px #fff, 649px 588px #fff, 101px 618px #fff, 1092px 468px #fff, 819px 379px #fff, 700px 73px #fff, 566px 363px #fff, 1357px 115px #fff, 995px 406px #fff, 707px 322px #fff, 666px 824px #fff, 942px 293px #fff, 1920px 459px #fff, 1784px 260px #fff, 1132px 150px #fff, 191px 985px #fff, 1523px 662px #fff, 248px 249px #fff, 963px 180px #fff, 1044px 652px #fff, 156px 397px #fff, 961px 425px #fff, 503px 121px #fff, 1506px 820px #fff, 1756px 90px #fff, 1775px 437px #fff, 1173px 748px #fff, 629px 999px #fff, 1225px 314px #fff, 1205px 37px #fff, 250px 668px #fff, 1569px 300px #fff, 1042px 16px #fff, 1252px 311px #fff, 702px 764px #fff, 300px 812px #fff, 881px 346px #fff, 1090px 720px #fff, 1408px 284px #fff, 919px 198px #fff, 904px 430px #fff, 856px 68px #fff, 53px 452px #fff, 1097px 247px #fff, 337px 916px #fff, 146px 79px #fff, 1611px 590px #fff, 506px 369px #fff, 1535px 217px #fff, 1343px 501px #fff, 252px 134px #fff;
}

.meteor-1 {
  position: absolute;
  top: 178px;
  left: 49%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.9s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 138px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 205px;
  left: 52%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.2s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 166px;
  left: 85%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.3s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 264px;
  left: 53%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.2s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 291px;
  left: 92%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.3s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 172px;
  left: 88%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.1s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 123px;
  left: 26%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.7s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 227px;
  left: 53%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.1s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 199px;
  left: 18%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.1s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 297px;
  left: 95%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.3s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 109px;
  left: 58%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.2s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 130px;
  left: 62%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.9s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 181px;
  left: 61%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.2s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 223px;
  left: 74%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.5s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor {
  position: absolute;
  top: 211px;
  left: 48%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.7s linear infinite;
}
.meteor::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}/*# sourceMappingURL=main.css.map */