@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateX(0%);
}

.shine:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 75px #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html, body {
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  overflow: hidden;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas: espacio automático para el logo, espacio restante para el menú, y espacio automático para los íconos de redes sociales */
  align-items: center;
}

.logo img {
  width: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos del menú al final de su contenedor */
}

ul li {
  margin-left: 20px; /* Espacio entre elementos del menú */
}

ul li:first-child {
  margin-left: 0; /* Quita el margen izquierdo del primer elemento del menú */
}

ul li a {
  text-decoration: none;
  color: #fff; /* Color de texto del menú */
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 982px 52px #fff, 57px 236px #fff, 106px 595px #fff, 711px 773px #fff, 1791px 396px #fff, 1748px 178px #fff, 1513px 797px #fff, 450px 491px #fff, 1350px 833px #fff, 1412px 996px #fff, 1238px 591px #fff, 460px 245px #fff, 459px 947px #fff, 158px 173px #fff, 264px 171px #fff, 927px 587px #fff, 763px 646px #fff, 1261px 652px #fff, 845px 655px #fff, 540px 743px #fff, 171px 327px #fff, 1076px 189px #fff, 738px 732px #fff, 1783px 731px #fff, 967px 900px #fff, 1727px 667px #fff, 1694px 832px #fff, 1884px 877px #fff, 1859px 934px #fff, 1730px 373px #fff, 1824px 432px #fff, 498px 169px #fff, 749px 92px #fff, 536px 740px #fff, 41px 639px #fff, 1383px 802px #fff, 860px 358px #fff, 213px 420px #fff, 1244px 815px #fff, 1385px 843px #fff, 1627px 240px #fff, 865px 64px #fff, 1889px 426px #fff, 1618px 673px #fff, 307px 601px #fff, 1882px 724px #fff, 338px 793px #fff, 916px 311px #fff, 1012px 374px #fff, 1767px 94px #fff, 369px 531px #fff, 447px 156px #fff, 1821px 358px #fff, 1087px 113px #fff, 700px 354px #fff, 688px 770px #fff, 1768px 960px #fff, 283px 367px #fff, 1415px 363px #fff, 992px 481px #fff, 1238px 311px #fff, 283px 195px #fff, 475px 622px #fff, 1409px 46px #fff, 872px 553px #fff, 1836px 259px #fff, 1337px 199px #fff, 400px 880px #fff, 252px 843px #fff, 81px 512px #fff, 1915px 269px #fff, 787px 78px #fff, 639px 901px #fff, 1682px 278px #fff, 1661px 105px #fff, 1546px 545px #fff, 1452px 253px #fff, 1768px 23px #fff, 1423px 733px #fff, 1325px 691px #fff, 1075px 337px #fff, 591px 242px #fff, 1864px 139px #fff, 301px 694px #fff, 870px 925px #fff, 1390px 886px #fff, 1133px 85px #fff, 664px 485px #fff, 504px 755px #fff, 1185px 745px #fff, 185px 34px #fff, 1142px 290px #fff, 1760px 588px #fff, 377px 912px #fff, 662px 255px #fff, 1818px 400px #fff, 1007px 174px #fff, 728px 63px #fff, 998px 933px #fff, 716px 783px #fff, 435px 415px #fff, 1684px 598px #fff, 486px 344px #fff, 573px 715px #fff, 401px 403px #fff, 993px 770px #fff, 415px 418px #fff, 430px 901px #fff, 982px 635px #fff, 969px 10px #fff, 313px 367px #fff, 1564px 524px #fff, 802px 603px #fff, 639px 425px #fff, 796px 229px #fff, 1141px 29px #fff, 1687px 543px #fff, 1672px 58px #fff, 178px 274px #fff, 1365px 852px #fff, 1719px 940px #fff, 1918px 85px #fff, 584px 706px #fff, 869px 79px #fff, 1808px 588px #fff, 847px 21px #fff, 1866px 990px #fff, 767px 425px #fff, 1330px 262px #fff, 1824px 835px #fff, 380px 879px #fff, 1735px 524px #fff, 5px 820px #fff, 513px 796px #fff, 825px 34px #fff, 361px 599px #fff, 776px 663px #fff, 1520px 601px #fff, 1389px 105px #fff, 179px 568px #fff, 100px 397px #fff, 168px 332px #fff, 197px 166px #fff, 1808px 246px #fff, 1119px 379px #fff, 395px 445px #fff, 430px 52px #fff, 1860px 961px #fff, 550px 617px #fff, 528px 741px #fff, 535px 136px #fff, 1687px 711px #fff, 512px 248px #fff, 646px 803px #fff, 436px 346px #fff, 1163px 634px #fff, 1851px 667px #fff, 835px 240px #fff, 1248px 326px #fff, 1479px 589px #fff, 654px 806px #fff, 1650px 428px #fff, 1547px 129px #fff, 1274px 504px #fff, 1682px 886px #fff, 1466px 528px #fff, 621px 844px #fff, 1608px 78px #fff, 1195px 914px #fff, 518px 563px #fff, 1079px 540px #fff, 1460px 853px #fff, 73px 453px #fff, 577px 588px #fff, 1575px 953px #fff, 606px 139px #fff, 1303px 210px #fff, 923px 346px #fff, 1511px 560px #fff, 965px 692px #fff, 1630px 859px #fff, 1499px 442px #fff, 333px 505px #fff, 1379px 772px #fff, 1193px 836px #fff, 641px 975px #fff, 137px 216px #fff, 1343px 446px #fff, 145px 512px #fff, 832px 365px #fff, 782px 258px #fff, 89px 42px #fff, 1170px 261px #fff, 1505px 930px #fff, 84px 803px #fff, 288px 410px #fff, 898px 747px #fff, 1098px 477px #fff, 604px 883px #fff, 117px 350px #fff, 261px 419px #fff, 855px 762px #fff, 1268px 805px #fff, 1589px 645px #fff, 1502px 89px #fff, 1133px 501px #fff, 449px 698px #fff, 1792px 321px #fff, 1554px 745px #fff, 1908px 41px #fff, 1416px 905px #fff, 1252px 532px #fff, 480px 107px #fff, 918px 291px #fff, 943px 116px #fff, 563px 616px #fff, 392px 687px #fff, 629px 245px #fff, 1493px 616px #fff, 150px 356px #fff, 560px 197px #fff, 579px 558px #fff, 318px 233px #fff, 253px 91px #fff, 142px 301px #fff, 821px 873px #fff, 1544px 494px #fff, 1726px 507px #fff, 1806px 188px #fff, 1694px 734px #fff, 1850px 681px #fff, 886px 46px #fff, 1586px 694px #fff, 331px 917px #fff, 481px 708px #fff, 524px 537px #fff, 631px 270px #fff, 721px 997px #fff, 527px 847px #fff, 899px 758px #fff, 367px 215px #fff, 688px 74px #fff, 408px 490px #fff, 1335px 64px #fff, 942px 562px #fff, 257px 681px #fff, 521px 279px #fff, 1528px 644px #fff, 985px 999px #fff, 1122px 92px #fff, 1626px 103px #fff, 716px 110px #fff, 167px 774px #fff, 584px 553px #fff, 1285px 957px #fff, 1718px 984px #fff, 1829px 369px #fff, 1618px 597px #fff, 449px 73px #fff, 1530px 813px #fff, 659px 683px #fff, 1526px 707px #fff, 1677px 37px #fff, 1196px 860px #fff, 1770px 874px #fff, 423px 172px #fff, 1726px 722px #fff, 1892px 561px #fff, 1518px 265px #fff, 866px 967px #fff, 1111px 558px #fff, 1225px 757px #fff, 1799px 694px #fff, 535px 356px #fff, 673px 863px #fff, 372px 871px #fff, 278px 806px #fff, 1480px 963px #fff, 259px 608px #fff, 1302px 759px #fff, 521px 602px #fff, 839px 648px #fff, 1919px 267px #fff, 1069px 816px #fff, 251px 697px #fff, 1888px 304px #fff, 1466px 397px #fff, 599px 129px #fff, 1037px 622px #fff, 1738px 350px #fff, 641px 959px #fff, 428px 725px #fff, 1327px 281px #fff, 1311px 710px #fff, 321px 105px #fff, 385px 612px #fff, 1437px 433px #fff, 603px 853px #fff, 534px 948px #fff, 1003px 464px #fff;
}

.meteor-1 {
  position: absolute;
  top: 71px;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.2s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 64px;
  left: 55%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.9s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 63px;
  left: 95%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.1s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 59px;
  left: 87%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.5s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 164px;
  left: 47%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.8s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 246px;
  left: 34%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.9s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 109px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.7s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 177px;
  left: 17%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.5s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 136px;
  left: 13%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.9s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 72px;
  left: 27%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.4s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 52px;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.5s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 267px;
  left: 35%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.1s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 165px;
  left: 86%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.2s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 252px;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.8s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 226px;
  left: 14%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.1s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor {
  position: absolute;
  top: 261px;
  left: 88%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.6s linear infinite;
}
.meteor::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}/*# sourceMappingURL=main.css.map */