@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateX(0%);
}

.shine:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 75px #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "SpaceGrotesk";
  color: white;
  cursor: url("../../img/dedo.png"), auto;
}

a {
  cursor: url("../../img/dedo.png"), auto;
}

html, body {
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
  width: 80%;
}

.stars-and-meteors-container {
  position: relative;
  overflow: hidden;
}

header {
  padding-top: 2rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Cambiamos la estructura de columnas para adaptarla mejor */
  align-items: center;
  padding: 10px;
}

.logo img {
  max-width: 200px; /* Ancho máximo del logo */
  height: auto;
  display: block;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Alinea el menú al centro en dispositivos grandes */
}

ul li {
  margin: 0 10px; /* Espacio horizontal entre elementos del menú */
}

ul li:first-child {
  margin-left: 0; /* Quita el margen izquierdo del primer elemento */
}

.dark-mode {
  display: flex;
  justify-content: flex-end; /* Alinea el modo oscuro a la derecha */
  align-items: center; /* Centra verticalmente */
}

ul li a {
  text-decoration: none;
  color: #fff; /* Color de texto del menú */
}

/* Media queries para hacer responsive */
@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
    justify-items: center; /* Centra todos los elementos */
    text-align: center; /* Alinea el texto al centro */
  }
  nav ul {
    margin-top: 1rem;
  }
  .dark-mode {
    display: none;
  }
}
@media screen and (max-width: 468px) {
  nav {
    grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
    justify-items: center; /* Centra todos los elementos */
    text-align: center; /* Alinea el texto al centro */
  }
  nav ul {
    display: none;
  }
  .dark-mode {
    display: none;
  }
}
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.inicio-contenido {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem; /* Espacio entre columnas, ajusta según necesites */
}

.card {
  border: 2px solid white;
  background-color: #ffffff;
  opacity: 65%;
  border-radius: 1rem;
  padding: 20px;
  font-size: smaller;
}

.card-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0; /* Redondea las esquinas superiores */
}

.card-description, .card-text {
  padding: 10px;
}

.card-description p, .card-text p {
  margin: 0;
}

.stack {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de 100px cada una */
  grid-template-rows: repeat(2, 11fr); /* 2 filas de 100px cada una */
  gap: 2rem; /* Espacio entre los recuadros */
  justify-items: center; /* Centra los recuadros horizontalmente en sus celdas */
  align-items: center; /* Centra los recuadros verticalmente en sus celdas */
}

.recuadro {
  width: 100px;
  height: 100px;
  background-color: #007bff; /* Color de fondo para los recuadros */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white; /* Borde blanco para los recuadros */
  font-size: 18px;
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1783px 916px #fff, 1415px 503px #fff, 1569px 310px #fff, 1820px 977px #fff, 46px 170px #fff, 630px 585px #fff, 1126px 197px #fff, 135px 470px #fff, 1517px 633px #fff, 1661px 206px #fff, 1822px 787px #fff, 1594px 880px #fff, 1774px 157px #fff, 749px 254px #fff, 114px 851px #fff, 1020px 377px #fff, 1639px 411px #fff, 409px 321px #fff, 152px 758px #fff, 1631px 10px #fff, 1204px 213px #fff, 431px 634px #fff, 1517px 528px #fff, 803px 835px #fff, 553px 46px #fff, 1253px 190px #fff, 1633px 646px #fff, 996px 573px #fff, 958px 560px #fff, 573px 538px #fff, 1503px 10px #fff, 666px 308px #fff, 1778px 149px #fff, 1497px 395px #fff, 90px 143px #fff, 686px 221px #fff, 243px 935px #fff, 1492px 908px #fff, 577px 37px #fff, 1046px 497px #fff, 1471px 137px #fff, 1813px 742px #fff, 1616px 75px #fff, 198px 978px #fff, 1591px 479px #fff, 107px 141px #fff, 247px 411px #fff, 1371px 717px #fff, 143px 618px #fff, 90px 742px #fff, 523px 92px #fff, 67px 230px #fff, 164px 773px #fff, 330px 86px #fff, 1578px 215px #fff, 1326px 147px #fff, 1419px 355px #fff, 929px 215px #fff, 233px 21px #fff, 1725px 38px #fff, 774px 251px #fff, 770px 46px #fff, 1118px 187px #fff, 1692px 318px #fff, 790px 858px #fff, 1638px 734px #fff, 1520px 48px #fff, 424px 168px #fff, 170px 806px #fff, 1604px 275px #fff, 1706px 966px #fff, 1347px 945px #fff, 1772px 765px #fff, 1569px 838px #fff, 28px 46px #fff, 98px 66px #fff, 754px 675px #fff, 1102px 178px #fff, 1457px 443px #fff, 95px 7px #fff, 426px 848px #fff, 152px 540px #fff, 1089px 221px #fff, 87px 836px #fff, 551px 126px #fff, 577px 765px #fff, 945px 438px #fff, 1206px 188px #fff, 378px 504px #fff, 478px 582px #fff, 1768px 73px #fff, 206px 597px #fff, 1599px 56px #fff, 1293px 320px #fff, 1300px 360px #fff, 1354px 64px #fff, 1655px 258px #fff, 1560px 926px #fff, 1576px 474px #fff, 1222px 828px #fff, 705px 355px #fff, 878px 765px #fff, 466px 232px #fff, 1538px 580px #fff, 1006px 206px #fff, 258px 149px #fff, 7px 453px #fff, 897px 352px #fff, 939px 123px #fff, 1185px 241px #fff, 200px 998px #fff, 131px 241px #fff, 1197px 964px #fff, 1224px 239px #fff, 1415px 767px #fff, 288px 166px #fff, 1782px 131px #fff, 1425px 932px #fff, 325px 529px #fff, 48px 761px #fff, 1447px 147px #fff, 524px 340px #fff, 340px 955px #fff, 24px 14px #fff, 78px 793px #fff, 1208px 642px #fff, 810px 450px #fff, 1210px 657px #fff, 440px 983px #fff, 1271px 923px #fff, 707px 189px #fff, 1079px 839px #fff, 901px 682px #fff, 247px 396px #fff, 980px 258px #fff, 1023px 29px #fff, 112px 954px #fff, 78px 963px #fff, 1296px 308px #fff, 135px 836px #fff, 1756px 910px #fff, 1026px 454px #fff, 1555px 769px #fff, 598px 143px #fff, 1527px 891px #fff, 282px 965px #fff, 248px 393px #fff, 1179px 448px #fff, 210px 79px #fff, 1272px 58px #fff, 276px 997px #fff, 383px 529px #fff, 901px 427px #fff, 1608px 24px #fff, 757px 686px #fff, 113px 898px #fff, 395px 824px #fff, 1785px 197px #fff, 470px 125px #fff, 479px 621px #fff, 676px 848px #fff, 1489px 714px #fff, 1375px 601px #fff, 1595px 628px #fff, 1235px 185px #fff, 998px 611px #fff, 1666px 530px #fff, 1295px 767px #fff, 21px 735px #fff, 1578px 658px #fff, 1118px 550px #fff, 1521px 483px #fff, 878px 645px #fff, 1544px 72px #fff, 10px 452px #fff, 699px 845px #fff, 881px 166px #fff, 930px 966px #fff, 775px 307px #fff, 995px 301px #fff, 547px 282px #fff, 1720px 190px #fff, 343px 72px #fff, 370px 348px #fff, 241px 155px #fff, 1183px 23px #fff, 1045px 338px #fff, 440px 927px #fff, 220px 563px #fff, 1307px 465px #fff, 230px 136px #fff, 1377px 729px #fff, 392px 504px #fff, 1720px 209px #fff, 1575px 386px #fff, 1507px 371px #fff, 946px 888px #fff, 1699px 541px #fff, 62px 274px #fff, 229px 112px #fff, 515px 806px #fff, 1490px 677px #fff, 730px 941px #fff, 735px 605px #fff, 730px 305px #fff, 975px 400px #fff, 37px 243px #fff, 449px 366px #fff, 154px 604px #fff, 1770px 409px #fff, 1036px 997px #fff, 186px 86px #fff, 472px 590px #fff, 1344px 254px #fff, 716px 944px #fff, 176px 512px #fff, 1694px 769px #fff, 893px 936px #fff, 350px 709px #fff, 1563px 888px #fff, 616px 163px #fff, 404px 763px #fff, 1419px 593px #fff, 1183px 237px #fff, 455px 334px #fff, 1171px 119px #fff, 1050px 461px #fff, 838px 532px #fff, 1503px 324px #fff, 1355px 96px #fff, 1249px 85px #fff, 1642px 342px #fff, 740px 952px #fff, 1266px 845px #fff, 872px 961px #fff, 197px 779px #fff, 1483px 272px #fff, 478px 87px #fff, 969px 201px #fff, 153px 521px #fff, 35px 872px #fff, 430px 144px #fff, 1188px 95px #fff, 1270px 123px #fff, 527px 254px #fff, 386px 958px #fff, 131px 549px #fff, 1548px 462px #fff, 173px 962px #fff, 590px 812px #fff, 141px 426px #fff, 205px 490px #fff, 1721px 741px #fff, 1679px 395px #fff, 1450px 804px #fff, 266px 988px #fff, 973px 697px #fff, 428px 171px #fff, 1374px 680px #fff, 478px 47px #fff, 811px 514px #fff, 474px 49px #fff, 979px 220px #fff, 396px 40px #fff, 274px 605px #fff, 722px 150px #fff, 224px 61px #fff, 1844px 21px #fff, 1016px 308px #fff, 363px 573px #fff, 380px 681px #fff, 1482px 596px #fff, 1770px 483px #fff, 1898px 508px #fff, 483px 621px #fff, 56px 25px #fff, 1810px 727px #fff, 687px 705px #fff, 1227px 381px #fff, 293px 111px #fff, 1020px 272px #fff, 415px 185px #fff, 578px 774px #fff, 1210px 732px #fff, 1511px 375px #fff, 647px 238px #fff, 728px 937px #fff, 361px 304px #fff, 234px 803px #fff, 344px 341px #fff, 341px 118px #fff, 1836px 287px #fff, 1418px 257px #fff, 667px 162px #fff, 921px 830px #fff, 776px 19px #fff, 402px 993px #fff, 105px 943px #fff, 92px 77px #fff, 1592px 568px #fff, 942px 222px #fff, 599px 365px #fff, 660px 210px #fff, 243px 799px #fff, 1167px 26px #fff, 894px 301px #fff, 14px 514px #fff, 623px 212px #fff, 1496px 104px #fff, 369px 99px #fff, 946px 969px #fff, 152px 201px #fff, 752px 323px #fff, 83px 978px #fff, 588px 544px #fff, 1721px 378px #fff, 591px 793px #fff, 1345px 322px #fff, 183px 377px #fff, 1420px 674px #fff, 358px 187px #fff, 787px 850px #fff, 482px 593px #fff, 218px 1px #fff, 50px 122px #fff, 1753px 76px #fff, 1887px 669px #fff, 384px 88px #fff, 136px 369px #fff, 251px 154px #fff, 1717px 680px #fff, 892px 431px #fff, 1036px 859px #fff, 345px 488px #fff, 856px 519px #fff, 751px 25px #fff, 857px 829px #fff, 1519px 57px #fff, 338px 234px #fff, 1086px 981px #fff, 936px 114px #fff, 1370px 907px #fff, 1436px 249px #fff, 207px 25px #fff, 221px 5px #fff, 1659px 430px #fff, 1567px 800px #fff, 667px 514px #fff, 642px 950px #fff, 501px 721px #fff, 1181px 543px #fff, 26px 11px #fff, 1868px 576px #fff, 1306px 461px #fff, 437px 363px #fff, 990px 443px #fff, 708px 421px #fff, 1596px 607px #fff, 711px 236px #fff, 1914px 158px #fff, 834px 761px #fff, 1204px 291px #fff, 76px 757px #fff, 756px 724px #fff, 112px 238px #fff, 925px 879px #fff, 822px 378px #fff, 463px 785px #fff, 398px 576px #fff, 1920px 498px #fff, 841px 289px #fff, 1279px 746px #fff, 200px 596px #fff, 568px 614px #fff, 249px 2px #fff, 1299px 691px #fff, 944px 279px #fff, 1889px 526px #fff, 411px 842px #fff, 486px 960px #fff, 1714px 350px #fff, 379px 803px #fff, 221px 364px #fff, 1851px 611px #fff, 358px 270px #fff, 1916px 533px #fff, 1297px 607px #fff, 401px 629px #fff, 479px 376px #fff, 1043px 94px #fff, 667px 694px #fff, 1490px 158px #fff, 494px 625px #fff, 436px 838px #fff, 1132px 82px #fff, 1659px 554px #fff, 623px 560px #fff, 1234px 865px #fff, 408px 879px #fff, 756px 936px #fff, 70px 224px #fff, 725px 101px #fff, 534px 987px #fff, 409px 217px #fff, 281px 798px #fff, 658px 223px #fff, 1068px 549px #fff, 313px 885px #fff, 83px 773px #fff, 1663px 68px #fff, 1690px 957px #fff, 927px 483px #fff, 1323px 527px #fff, 477px 85px #fff, 1130px 740px #fff, 1418px 887px #fff, 1493px 918px #fff, 1725px 874px #fff, 1432px 111px #fff, 1104px 718px #fff, 1670px 506px #fff, 557px 99px #fff, 1132px 518px #fff, 1774px 122px #fff, 656px 288px #fff, 279px 622px #fff, 1621px 316px #fff, 1045px 791px #fff, 1224px 373px #fff, 540px 74px #fff, 1379px 48px #fff, 1582px 387px #fff, 491px 313px #fff, 466px 608px #fff, 1006px 82px #fff, 1355px 788px #fff, 1359px 32px #fff, 1239px 788px #fff, 291px 425px #fff, 655px 339px #fff, 1193px 366px #fff, 605px 67px #fff, 392px 80px #fff, 1837px 73px #fff, 715px 863px #fff, 607px 231px #fff, 349px 849px #fff, 1856px 59px #fff, 169px 429px #fff, 1891px 771px #fff, 67px 248px #fff, 126px 801px #fff, 861px 342px #fff, 1649px 270px #fff, 913px 936px #fff, 1637px 666px #fff, 287px 926px #fff, 191px 990px #fff, 1867px 620px #fff, 1545px 36px #fff, 1222px 242px #fff, 1700px 639px #fff, 1075px 795px #fff, 1446px 347px #fff, 1540px 34px #fff, 656px 342px #fff, 415px 686px #fff, 756px 371px #fff, 1200px 925px #fff, 121px 326px #fff, 591px 677px #fff, 583px 71px #fff, 1838px 277px #fff, 1100px 3px #fff, 1262px 322px #fff, 432px 112px #fff, 549px 114px #fff, 1502px 990px #fff, 267px 586px #fff, 43px 482px #fff, 170px 370px #fff, 580px 276px #fff, 632px 605px #fff, 898px 954px #fff, 1849px 276px #fff, 1564px 195px #fff, 55px 28px #fff, 944px 958px #fff, 636px 247px #fff, 1127px 960px #fff, 1885px 725px #fff, 1604px 111px #fff, 1016px 492px #fff, 553px 574px #fff, 1364px 35px #fff, 1383px 226px #fff, 809px 330px #fff, 1202px 451px #fff, 1339px 645px #fff, 748px 699px #fff, 890px 622px #fff, 1066px 110px #fff, 541px 56px #fff, 1337px 243px #fff, 1087px 211px #fff, 246px 251px #fff, 800px 909px #fff, 1197px 435px #fff, 1857px 151px #fff, 1463px 731px #fff, 332px 338px #fff, 1122px 995px #fff, 972px 171px #fff, 326px 954px #fff, 1237px 798px #fff, 1237px 517px #fff, 215px 602px #fff, 779px 157px #fff, 1599px 416px #fff, 700px 472px #fff, 1076px 753px #fff, 1235px 434px #fff, 393px 186px #fff, 1576px 886px #fff, 1396px 222px #fff, 1336px 959px #fff, 1683px 632px #fff, 1706px 932px #fff, 1072px 900px #fff, 1810px 122px #fff, 735px 595px #fff, 393px 804px #fff, 479px 419px #fff, 1859px 639px #fff, 139px 80px #fff, 1153px 903px #fff, 1884px 816px #fff, 910px 898px #fff, 1205px 651px #fff, 1189px 292px #fff, 1895px 527px #fff, 1794px 299px #fff, 1081px 479px #fff, 1327px 923px #fff, 192px 388px #fff, 1107px 569px #fff, 651px 759px #fff, 425px 657px #fff, 1322px 83px #fff, 1619px 358px #fff, 105px 868px #fff, 1204px 926px #fff, 306px 269px #fff, 469px 650px #fff, 1866px 754px #fff, 255px 327px #fff, 274px 488px #fff, 1397px 894px #fff, 413px 980px #fff, 811px 13px #fff, 442px 542px #fff, 564px 250px #fff, 314px 963px #fff, 393px 437px #fff, 170px 326px #fff, 768px 659px #fff, 102px 362px #fff, 55px 106px #fff, 1364px 360px #fff, 1353px 190px #fff, 625px 897px #fff, 1387px 178px #fff, 434px 84px #fff, 728px 242px #fff, 1083px 341px #fff, 481px 115px #fff, 522px 20px #fff, 600px 747px #fff, 1090px 80px #fff, 924px 73px #fff, 1900px 345px #fff, 1294px 424px #fff, 1211px 377px #fff, 1029px 947px #fff, 933px 866px #fff, 328px 990px #fff, 195px 844px #fff, 838px 602px #fff, 62px 332px #fff, 590px 558px #fff, 1839px 945px #fff, 613px 82px #fff, 1806px 209px #fff, 265px 872px #fff, 1193px 67px #fff, 1197px 575px #fff, 1446px 469px #fff, 1092px 363px #fff, 1366px 272px #fff, 1888px 646px #fff, 667px 685px #fff, 441px 557px #fff, 1881px 476px #fff, 794px 846px #fff, 1557px 626px #fff, 1394px 70px #fff, 42px 473px #fff, 524px 571px #fff, 1581px 953px #fff, 1853px 130px #fff, 711px 330px #fff, 1664px 889px #fff, 1268px 524px #fff, 1472px 899px #fff, 1367px 887px #fff, 97px 249px #fff, 1675px 2px #fff, 259px 982px #fff, 1465px 545px #fff, 1907px 566px #fff, 1558px 316px #fff, 1407px 575px #fff, 1769px 490px #fff, 672px 853px #fff, 1476px 301px #fff, 1792px 312px #fff, 699px 34px #fff, 336px 408px #fff, 207px 137px #fff, 220px 20px #fff, 1518px 225px #fff, 1784px 577px #fff, 1224px 449px #fff, 1381px 162px #fff, 129px 374px #fff, 264px 859px #fff, 410px 263px #fff, 397px 852px #fff, 1482px 344px #fff, 1694px 256px #fff, 1025px 234px #fff, 474px 132px #fff, 92px 364px #fff, 723px 985px #fff, 1451px 338px #fff, 687px 856px #fff, 1235px 440px #fff, 1346px 132px #fff, 359px 61px #fff, 779px 607px #fff, 1353px 627px #fff, 980px 534px #fff, 601px 796px #fff, 449px 936px #fff, 1489px 122px #fff, 1099px 613px #fff, 1198px 579px #fff, 60px 999px #fff, 41px 976px #fff, 1138px 767px #fff, 288px 900px #fff, 200px 333px #fff, 770px 532px #fff, 1820px 578px #fff, 759px 884px #fff, 1425px 947px #fff, 790px 794px #fff, 572px 176px #fff, 1865px 257px #fff, 1513px 909px #fff, 57px 787px #fff, 1554px 687px #fff, 275px 676px #fff, 1717px 635px #fff, 293px 271px #fff, 1677px 582px #fff, 538px 328px #fff, 671px 937px #fff, 1203px 29px #fff, 73px 788px #fff, 520px 350px #fff, 1422px 269px #fff, 1460px 15px #fff, 1229px 606px #fff, 1744px 745px #fff, 1261px 884px #fff, 1841px 475px #fff, 213px 363px #fff, 958px 263px #fff, 1639px 837px #fff, 1660px 534px #fff, 153px 73px #fff, 1686px 544px #fff, 1735px 224px #fff, 535px 163px #fff, 1674px 170px #fff, 791px 639px #fff, 965px 532px #fff, 1058px 769px #fff, 1894px 668px #fff, 1417px 147px #fff, 858px 474px #fff, 1017px 605px #fff, 181px 675px #fff, 686px 937px #fff, 1072px 638px #fff, 1572px 638px #fff, 1714px 492px #fff, 349px 880px #fff, 409px 603px #fff, 1706px 114px #fff, 1799px 413px #fff, 1132px 703px #fff, 127px 288px #fff, 1137px 214px #fff, 1687px 780px #fff, 894px 512px #fff, 561px 730px #fff, 1735px 425px #fff, 1391px 304px #fff, 780px 461px #fff, 234px 285px #fff, 1903px 781px #fff, 886px 424px #fff, 1661px 930px #fff, 1298px 208px #fff, 703px 691px #fff, 992px 746px #fff, 860px 422px #fff, 1338px 694px #fff, 470px 378px #fff, 936px 560px #fff, 71px 114px #fff, 44px 498px #fff, 125px 688px #fff, 1909px 883px #fff, 17px 337px #fff, 1272px 616px #fff, 885px 765px #fff, 1891px 485px #fff, 1832px 426px #fff, 1755px 546px #fff, 365px 591px #fff, 1611px 185px #fff, 204px 523px #fff, 1908px 243px #fff, 1060px 747px #fff, 589px 708px #fff, 1658px 103px #fff, 1270px 237px #fff, 595px 467px #fff, 1338px 356px #fff, 708px 897px #fff, 675px 522px #fff, 1634px 245px #fff, 1472px 245px #fff, 43px 302px #fff, 1448px 231px #fff, 1770px 253px #fff, 1920px 201px #fff, 362px 863px #fff, 895px 718px #fff, 1535px 60px #fff, 1741px 545px #fff, 890px 845px #fff, 918px 747px #fff, 474px 140px #fff, 1063px 367px #fff, 465px 703px #fff, 430px 638px #fff, 307px 605px #fff, 112px 254px #fff, 1421px 990px #fff, 667px 440px #fff, 1372px 954px #fff, 1701px 98px #fff, 1354px 599px #fff, 1354px 494px #fff, 1731px 510px #fff, 616px 689px #fff, 1750px 923px #fff, 334px 387px #fff, 93px 905px #fff, 116px 427px #fff, 575px 32px #fff, 1584px 921px #fff, 1282px 777px #fff, 1849px 343px #fff, 738px 917px #fff, 1110px 217px #fff, 751px 3px #fff, 1359px 864px #fff, 600px 748px #fff, 203px 884px #fff, 204px 444px #fff, 406px 919px #fff, 817px 854px #fff, 707px 759px #fff, 1662px 220px #fff, 1579px 725px #fff, 165px 585px #fff, 1016px 126px #fff, 786px 352px #fff, 1817px 380px #fff, 1649px 322px #fff, 684px 708px #fff, 1712px 849px #fff, 1459px 68px #fff, 1752px 914px #fff, 98px 668px #fff, 776px 908px #fff, 424px 75px #fff, 481px 259px #fff, 1768px 99px #fff, 1170px 959px #fff, 1443px 462px #fff, 1572px 532px #fff, 1829px 308px #fff, 619px 754px #fff, 1170px 281px #fff, 914px 403px #fff, 742px 126px #fff, 460px 486px #fff, 1313px 798px #fff, 355px 988px #fff, 1466px 450px #fff, 323px 494px #fff, 1102px 686px #fff, 1221px 798px #fff, 1865px 994px #fff, 1698px 287px #fff, 1774px 817px #fff, 1832px 122px #fff, 517px 272px #fff, 1624px 42px #fff, 1282px 726px #fff, 306px 842px #fff, 1300px 280px #fff, 47px 33px #fff, 276px 631px #fff, 172px 18px #fff, 376px 141px #fff, 1234px 423px #fff, 1268px 276px #fff, 255px 365px #fff, 481px 1000px #fff, 604px 568px #fff, 1016px 627px #fff, 1405px 148px #fff, 1334px 856px #fff, 844px 22px #fff, 678px 399px #fff, 1071px 162px #fff, 314px 681px #fff, 1253px 243px #fff, 1527px 368px #fff, 826px 399px #fff, 423px 621px #fff, 520px 352px #fff, 959px 965px #fff, 1875px 933px #fff, 183px 787px #fff, 353px 177px #fff, 1072px 768px #fff, 615px 654px #fff, 500px 136px #fff, 654px 162px #fff, 1101px 503px #fff, 1054px 814px #fff, 1446px 292px #fff, 1608px 783px #fff, 255px 341px #fff, 1003px 723px #fff, 1553px 303px #fff, 1052px 190px #fff, 103px 832px #fff, 425px 907px #fff, 422px 952px #fff, 1565px 339px #fff, 1815px 604px #fff, 1835px 386px #fff, 378px 723px #fff, 1041px 989px #fff, 1101px 997px #fff, 635px 644px #fff, 1173px 336px #fff, 68px 833px #fff, 643px 115px #fff, 625px 822px #fff, 1748px 691px #fff, 1432px 328px #fff, 987px 518px #fff, 232px 910px #fff, 792px 174px #fff, 930px 386px #fff, 1307px 427px #fff, 1244px 495px #fff, 938px 911px #fff, 1145px 5px #fff, 1733px 480px #fff, 1382px 575px #fff, 1057px 747px #fff, 1192px 816px #fff, 786px 370px #fff, 1054px 446px #fff, 794px 663px #fff, 1767px 53px #fff, 456px 989px #fff, 1721px 9px #fff, 146px 287px #fff, 1920px 892px #fff, 444px 615px #fff, 946px 849px #fff, 697px 22px #fff, 1144px 44px #fff, 1232px 794px #fff, 1706px 553px #fff, 1591px 23px #fff, 1481px 390px #fff, 385px 128px #fff, 1824px 996px #fff, 1149px 125px #fff, 792px 450px #fff, 88px 809px #fff, 128px 275px #fff, 1194px 903px #fff, 222px 68px #fff, 373px 792px #fff, 438px 932px #fff, 613px 498px #fff, 9px 21px #fff, 580px 339px #fff, 499px 621px #fff, 1303px 206px #fff, 1133px 523px #fff, 219px 507px #fff, 1194px 522px #fff, 610px 536px #fff, 753px 303px #fff, 1298px 574px #fff, 756px 650px #fff, 1904px 446px #fff, 1749px 565px #fff, 1425px 805px #fff, 419px 909px #fff, 1789px 378px #fff, 1815px 282px #fff, 489px 872px #fff, 98px 666px #fff, 367px 618px #fff, 213px 622px #fff, 1558px 928px #fff, 9px 736px #fff, 819px 149px #fff, 1620px 544px #fff, 1281px 821px #fff, 1380px 639px #fff, 1589px 944px #fff, 731px 969px #fff, 419px 794px #fff, 1306px 192px #fff, 1440px 523px #fff, 749px 993px #fff, 939px 98px #fff, 95px 971px #fff, 225px 45px #fff, 139px 759px #fff, 645px 870px #fff, 1562px 199px #fff, 1448px 962px #fff, 465px 487px #fff, 133px 397px #fff, 30px 37px #fff, 1686px 800px #fff, 1574px 88px #fff, 1550px 792px #fff, 1708px 158px #fff, 1193px 708px #fff, 1715px 929px #fff, 1657px 424px #fff, 1776px 732px #fff, 1213px 51px #fff, 840px 754px #fff, 577px 407px #fff, 1564px 839px #fff, 1058px 210px #fff, 1131px 195px #fff, 700px 557px #fff, 732px 167px #fff, 952px 425px #fff, 1202px 472px #fff, 591px 486px #fff, 1214px 846px #fff, 980px 582px #fff, 1638px 770px #fff, 713px 646px #fff, 503px 642px #fff, 1672px 729px #fff, 393px 43px #fff, 1693px 353px #fff, 1260px 815px #fff, 1443px 942px #fff, 696px 544px #fff, 1306px 848px #fff, 221px 895px #fff, 667px 581px #fff, 994px 581px #fff, 1253px 281px #fff, 140px 684px #fff, 1762px 543px #fff, 973px 137px #fff, 1074px 470px #fff, 407px 597px #fff, 198px 216px #fff, 858px 57px #fff, 350px 751px #fff, 804px 526px #fff, 1306px 861px #fff, 923px 68px #fff, 880px 352px #fff, 252px 937px #fff, 1041px 85px #fff, 542px 658px #fff, 588px 545px #fff, 176px 598px #fff, 144px 22px #fff, 1697px 239px #fff, 1882px 763px #fff, 1196px 989px #fff, 302px 127px #fff, 321px 585px #fff, 960px 368px #fff, 1512px 708px #fff, 1573px 171px #fff, 209px 481px #fff, 606px 76px #fff, 827px 924px #fff, 1104px 59px #fff, 1580px 813px #fff, 922px 989px #fff, 1418px 945px #fff, 1522px 853px #fff, 1271px 389px #fff, 1847px 649px #fff, 460px 278px #fff, 732px 901px #fff, 711px 686px #fff, 636px 111px #fff, 1823px 487px #fff, 565px 239px #fff, 1242px 356px #fff, 25px 591px #fff, 514px 899px #fff, 112px 277px #fff, 1334px 643px #fff, 74px 830px #fff, 321px 526px #fff, 1644px 850px #fff, 1119px 156px #fff, 1146px 734px #fff, 969px 751px #fff, 108px 993px #fff, 835px 522px #fff, 228px 732px #fff, 1795px 926px #fff, 618px 841px #fff, 1216px 49px #fff, 1395px 617px #fff, 1486px 286px #fff, 58px 300px #fff, 654px 978px #fff, 468px 108px #fff, 57px 396px #fff, 1575px 411px #fff, 1575px 848px #fff, 1502px 391px #fff, 394px 335px #fff, 1794px 315px #fff, 23px 938px #fff, 980px 856px #fff, 1858px 86px #fff, 1534px 538px #fff, 1341px 585px #fff, 34px 779px #fff, 1883px 249px #fff, 331px 748px #fff, 871px 834px #fff, 1617px 707px #fff, 1533px 885px #fff, 426px 844px #fff, 126px 832px #fff, 453px 249px #fff, 1488px 461px #fff, 1052px 698px #fff, 259px 933px #fff, 1046px 397px #fff, 1559px 467px #fff, 1424px 193px #fff, 14px 268px #fff, 1124px 242px #fff, 227px 182px #fff, 957px 441px #fff, 1431px 933px #fff, 186px 65px #fff, 1694px 764px #fff, 325px 555px #fff, 160px 432px #fff, 153px 77px #fff, 172px 996px #fff, 194px 203px #fff, 1298px 657px #fff, 1076px 244px #fff, 449px 907px #fff, 1408px 330px #fff, 1020px 846px #fff, 1237px 496px #fff, 448px 377px #fff, 252px 499px #fff, 115px 338px #fff, 1553px 815px #fff, 430px 560px #fff, 379px 797px #fff, 338px 259px #fff, 1709px 772px #fff, 112px 425px #fff, 1558px 896px #fff, 400px 526px #fff, 1783px 661px #fff, 1884px 163px #fff, 180px 966px #fff, 1250px 92px #fff, 1355px 504px #fff, 373px 413px #fff, 118px 808px #fff, 1203px 351px #fff, 1813px 414px #fff, 125px 317px #fff, 1228px 730px #fff, 621px 747px #fff, 1886px 439px #fff, 573px 504px #fff, 1905px 552px #fff, 207px 883px #fff, 1798px 341px #fff, 1656px 862px #fff, 224px 436px #fff, 145px 779px #fff, 1330px 42px #fff, 1695px 149px #fff, 59px 260px #fff, 1768px 430px #fff, 1673px 814px #fff, 16px 545px #fff, 635px 474px #fff, 1465px 946px #fff, 611px 594px #fff, 509px 458px #fff, 889px 20px #fff, 1911px 142px #fff, 61px 616px #fff, 771px 661px #fff, 1013px 923px #fff, 316px 431px #fff, 752px 883px #fff, 478px 359px #fff, 52px 449px #fff, 1465px 558px #fff, 553px 755px #fff, 705px 517px #fff, 1640px 695px #fff, 820px 124px #fff, 345px 999px #fff, 1508px 866px #fff, 99px 847px #fff, 1917px 280px #fff, 1630px 348px #fff, 924px 948px #fff, 1871px 328px #fff, 1891px 58px #fff, 89px 923px #fff, 1636px 530px #fff, 1px 822px #fff, 1327px 341px #fff, 1688px 793px #fff, 896px 745px #fff, 430px 630px #fff, 1241px 386px #fff, 148px 395px #fff, 463px 82px #fff, 144px 532px #fff, 1354px 637px #fff, 1157px 310px #fff, 885px 693px #fff, 729px 893px #fff, 269px 447px #fff, 99px 593px #fff, 985px 979px #fff, 536px 88px #fff, 445px 521px #fff, 658px 418px #fff, 923px 848px #fff, 455px 839px #fff, 314px 188px #fff, 732px 462px #fff, 1744px 920px #fff, 736px 655px #fff, 52px 515px #fff, 1584px 828px #fff, 1445px 273px #fff, 8px 792px #fff, 1120px 87px #fff, 640px 630px #fff, 743px 907px #fff, 457px 426px #fff, 1478px 733px #fff, 1309px 487px #fff, 648px 690px #fff, 1480px 133px #fff, 746px 824px #fff, 1805px 358px #fff, 1164px 531px #fff, 72px 605px #fff, 226px 305px #fff, 230px 42px #fff, 1639px 837px #fff, 497px 435px #fff, 1629px 238px #fff, 1590px 894px #fff, 149px 25px #fff, 747px 317px #fff, 1242px 637px #fff, 1726px 852px #fff, 1510px 478px #fff, 1296px 38px #fff, 1027px 856px #fff, 1365px 199px #fff, 1661px 92px #fff, 839px 801px #fff, 61px 425px #fff, 426px 215px #fff, 347px 818px #fff, 1625px 893px #fff, 1216px 554px #fff, 588px 290px #fff, 999px 922px #fff, 1754px 21px #fff, 39px 412px #fff, 1332px 373px #fff, 541px 50px #fff, 1291px 962px #fff, 1473px 370px #fff, 923px 51px #fff, 1637px 280px #fff, 477px 807px #fff, 1706px 520px #fff, 1065px 847px #fff, 760px 736px #fff, 515px 514px #fff, 1266px 715px #fff, 87px 965px #fff, 1741px 877px #fff, 1252px 311px #fff, 1147px 174px #fff, 1009px 461px #fff, 1370px 33px #fff, 1633px 990px #fff, 1332px 307px #fff, 1127px 196px #fff, 648px 229px #fff, 258px 259px #fff, 1908px 869px #fff, 1226px 471px #fff, 1520px 946px #fff, 937px 927px #fff, 1178px 152px #fff, 1817px 901px #fff, 619px 183px #fff, 1705px 600px #fff, 1221px 777px #fff, 1541px 737px #fff, 648px 993px #fff, 1345px 521px #fff, 489px 238px #fff, 1244px 233px #fff, 1636px 72px #fff, 557px 790px #fff, 1177px 256px #fff, 935px 80px #fff, 774px 565px #fff, 103px 122px #fff, 1123px 584px #fff, 787px 218px #fff, 1886px 759px #fff, 1301px 992px #fff, 987px 958px #fff, 1454px 692px #fff, 1562px 206px #fff, 183px 749px #fff, 1694px 409px #fff, 1690px 917px #fff, 302px 750px #fff, 139px 12px #fff, 663px 479px #fff, 144px 888px #fff, 1310px 882px #fff, 1283px 106px #fff, 828px 73px #fff, 1219px 304px #fff, 1522px 986px #fff, 1083px 342px #fff, 359px 261px #fff, 1672px 541px #fff, 1772px 677px #fff, 804px 310px #fff, 120px 271px #fff, 350px 192px #fff, 285px 162px #fff, 1304px 526px #fff, 90px 346px #fff, 526px 577px #fff, 929px 845px #fff, 1844px 981px #fff, 549px 711px #fff, 843px 896px #fff, 1862px 201px #fff, 564px 499px #fff, 181px 661px #fff, 1047px 354px #fff, 1127px 296px #fff, 420px 481px #fff, 337px 621px #fff, 541px 816px #fff, 404px 465px #fff, 1788px 647px #fff, 1748px 59px #fff, 1337px 438px #fff, 1480px 515px #fff, 1078px 107px #fff, 161px 241px #fff, 591px 490px #fff, 1448px 375px #fff, 335px 316px #fff, 1152px 579px #fff, 353px 313px #fff, 1341px 472px #fff, 276px 549px #fff, 444px 585px #fff, 1314px 75px #fff, 747px 257px #fff, 82px 856px #fff, 403px 248px #fff, 398px 933px #fff, 261px 770px #fff, 42px 394px #fff, 556px 969px #fff, 483px 298px #fff, 1398px 841px #fff, 634px 671px #fff, 1087px 582px #fff, 421px 288px #fff, 1365px 955px #fff, 1651px 735px #fff, 155px 926px #fff, 1129px 794px #fff, 1765px 209px #fff, 1646px 48px #fff, 865px 199px #fff, 928px 23px #fff, 1404px 689px #fff, 335px 36px #fff, 1342px 281px #fff, 421px 104px #fff, 1276px 100px #fff, 919px 511px #fff, 1810px 98px #fff, 363px 791px #fff, 1049px 162px #fff, 1867px 680px #fff, 749px 578px #fff, 756px 335px #fff, 1269px 476px #fff, 187px 899px #fff, 471px 193px #fff, 1023px 578px #fff, 1051px 148px #fff, 1134px 507px #fff, 260px 848px #fff, 1716px 395px #fff, 207px 208px #fff, 1750px 88px #fff, 1383px 278px #fff, 1370px 832px #fff, 1370px 530px #fff, 1090px 147px #fff, 1114px 524px #fff, 226px 976px #fff, 369px 619px #fff, 614px 267px #fff, 1603px 82px #fff, 1683px 997px #fff, 1856px 738px #fff, 1052px 305px #fff, 454px 233px #fff, 1539px 571px #fff, 234px 715px #fff, 1702px 707px #fff, 994px 160px #fff, 1489px 549px #fff, 181px 353px #fff, 1545px 805px #fff, 107px 414px #fff, 683px 445px #fff, 499px 602px #fff, 1296px 145px #fff, 1783px 657px #fff, 484px 986px #fff, 39px 238px #fff, 306px 497px #fff, 1359px 257px #fff, 187px 954px #fff, 1196px 513px #fff, 1452px 480px #fff, 638px 68px #fff, 381px 754px #fff, 41px 859px #fff, 1738px 770px #fff, 1873px 112px #fff, 327px 206px #fff, 315px 846px #fff, 1092px 223px #fff, 1802px 612px #fff, 13px 13px #fff, 1474px 369px #fff, 631px 267px #fff, 1290px 595px #fff, 1170px 419px #fff, 256px 792px #fff, 1294px 786px #fff, 1015px 740px #fff, 1132px 874px #fff, 1584px 898px #fff, 1628px 590px #fff, 1060px 132px #fff, 1611px 39px #fff, 834px 874px #fff, 1042px 17px #fff, 1291px 557px #fff, 1294px 655px #fff, 427px 778px #fff, 1874px 942px #fff, 1722px 128px #fff, 1037px 665px #fff, 299px 114px #fff, 782px 31px #fff, 298px 439px #fff, 1110px 906px #fff, 895px 797px #fff, 1141px 196px #fff, 710px 451px #fff, 357px 304px #fff, 271px 319px #fff, 1513px 340px #fff, 1604px 965px #fff, 537px 44px #fff, 964px 882px #fff, 1905px 908px #fff, 1652px 122px #fff, 558px 948px #fff, 1519px 18px #fff, 1038px 683px #fff, 643px 173px #fff, 441px 141px #fff, 1669px 607px #fff, 496px 24px #fff, 903px 252px #fff, 967px 202px #fff, 1642px 76px #fff, 1438px 171px #fff, 76px 997px #fff, 1291px 9px #fff, 1112px 469px #fff, 1822px 527px #fff, 1121px 878px #fff, 337px 669px #fff, 1034px 672px #fff, 118px 625px #fff, 1859px 754px #fff, 671px 245px #fff, 240px 231px #fff, 1165px 409px #fff, 1702px 180px #fff, 1420px 28px #fff, 918px 946px #fff, 1553px 408px #fff, 368px 32px #fff, 369px 872px #fff, 1059px 753px #fff, 1713px 362px #fff, 41px 805px #fff, 495px 684px #fff, 1236px 647px #fff, 1855px 85px #fff, 91px 400px #fff, 238px 866px #fff, 1770px 744px #fff, 360px 96px #fff, 1591px 467px #fff, 150px 909px #fff, 910px 659px #fff, 132px 936px #fff, 1208px 522px #fff, 1826px 528px #fff, 951px 667px #fff, 132px 136px #fff, 1549px 242px #fff, 37px 568px #fff, 357px 307px #fff, 701px 341px #fff, 248px 250px #fff, 233px 188px #fff, 1142px 728px #fff, 939px 986px #fff, 797px 137px #fff, 1251px 353px #fff, 128px 651px #fff, 167px 12px #fff, 236px 875px #fff, 111px 170px #fff, 886px 123px #fff, 161px 379px #fff, 1457px 404px #fff, 25px 639px #fff, 779px 61px #fff, 533px 549px #fff, 1374px 746px #fff, 1533px 262px #fff, 215px 148px #fff, 242px 23px #fff, 1808px 275px #fff, 618px 310px #fff, 1722px 447px #fff, 1375px 728px #fff, 521px 831px #fff, 978px 322px #fff, 1734px 31px #fff, 1792px 461px #fff, 1665px 545px #fff, 774px 342px #fff, 1734px 972px #fff, 443px 976px #fff, 253px 461px #fff, 1612px 520px #fff, 961px 879px #fff, 1160px 545px #fff, 1191px 833px #fff, 1167px 900px #fff, 66px 101px #fff, 362px 900px #fff, 300px 815px #fff, 891px 310px #fff, 1474px 512px #fff, 1132px 89px #fff, 1337px 786px #fff, 1313px 92px #fff, 1467px 386px #fff, 872px 21px #fff, 993px 650px #fff, 994px 222px #fff, 965px 391px #fff, 523px 602px #fff, 474px 579px #fff, 355px 409px #fff, 1589px 780px #fff, 505px 143px #fff, 848px 155px #fff, 215px 36px #fff, 879px 856px #fff, 266px 833px #fff, 1315px 123px #fff, 972px 109px #fff, 287px 168px #fff, 1508px 109px #fff, 1072px 677px #fff, 96px 941px #fff, 831px 127px #fff, 871px 478px #fff, 1537px 748px #fff, 1358px 548px #fff, 234px 60px #fff, 294px 397px #fff, 1241px 512px #fff, 264px 507px #fff, 189px 400px #fff, 623px 1000px #fff, 1243px 948px #fff, 21px 598px #fff, 1493px 454px #fff, 1605px 698px #fff, 872px 969px #fff, 1005px 400px #fff, 767px 214px #fff, 1103px 147px #fff, 1895px 999px #fff, 896px 849px #fff, 417px 4px #fff, 730px 777px #fff, 490px 203px #fff, 377px 670px #fff, 372px 241px #fff, 757px 912px #fff, 1893px 655px #fff, 908px 209px #fff, 1100px 146px #fff, 1781px 122px #fff, 1274px 330px #fff, 1438px 164px #fff, 226px 325px #fff, 1841px 965px #fff, 977px 645px #fff, 299px 848px #fff, 1061px 934px #fff, 1166px 853px #fff, 231px 580px #fff, 262px 16px #fff, 1485px 212px #fff, 730px 42px #fff, 641px 61px #fff, 1453px 24px #fff, 349px 246px #fff, 883px 833px #fff, 637px 385px #fff, 1270px 497px #fff, 940px 559px #fff, 866px 587px #fff, 1900px 420px #fff, 114px 925px #fff, 1862px 841px #fff, 634px 199px #fff, 1896px 491px #fff, 1338px 641px #fff, 1374px 185px #fff, 1378px 276px #fff, 1213px 111px #fff, 1633px 881px #fff, 396px 285px #fff, 1109px 898px #fff, 1323px 69px #fff, 118px 501px #fff, 994px 31px #fff, 172px 551px #fff, 1391px 922px #fff, 349px 329px #fff, 1714px 861px #fff, 734px 194px #fff, 469px 846px #fff, 312px 392px #fff, 68px 855px #fff, 851px 282px #fff, 914px 515px #fff, 793px 805px #fff, 549px 748px #fff, 1774px 968px #fff, 121px 693px #fff, 410px 124px #fff, 1249px 720px #fff, 1173px 913px #fff, 952px 924px #fff, 1384px 346px #fff, 1734px 631px #fff, 612px 673px #fff, 1320px 350px #fff, 748px 580px #fff, 545px 580px #fff, 1107px 700px #fff, 1458px 271px #fff, 1420px 849px #fff, 1915px 810px #fff, 584px 816px #fff, 478px 479px #fff, 236px 255px #fff, 798px 360px #fff, 1697px 244px #fff, 723px 321px #fff, 48px 711px #fff, 1254px 18px #fff, 657px 156px #fff, 1593px 304px #fff, 485px 632px #fff, 424px 376px #fff, 1343px 718px #fff, 1086px 802px #fff, 1707px 240px #fff, 178px 330px #fff, 1519px 845px #fff, 896px 826px #fff, 130px 248px #fff, 776px 26px #fff, 503px 219px #fff, 1215px 81px #fff, 558px 260px #fff, 463px 489px #fff, 1768px 668px #fff, 957px 101px #fff, 617px 924px #fff, 355px 387px #fff, 592px 821px #fff, 265px 217px #fff, 1776px 692px #fff, 1086px 562px #fff, 69px 258px #fff, 811px 938px #fff, 1912px 429px #fff, 545px 836px #fff, 1012px 875px #fff, 1030px 660px #fff, 1806px 572px #fff, 18px 864px #fff, 554px 194px #fff, 191px 690px #fff, 1692px 519px #fff, 715px 413px #fff, 1802px 135px #fff, 594px 299px #fff, 1348px 533px #fff, 293px 190px #fff, 465px 46px #fff, 261px 338px #fff, 380px 62px #fff, 250px 24px #fff, 1410px 422px #fff, 1302px 527px #fff, 1536px 826px #fff, 1596px 715px #fff, 305px 352px #fff, 1632px 521px #fff, 631px 180px #fff, 1064px 610px #fff, 225px 410px #fff, 282px 43px #fff, 1623px 251px #fff, 566px 71px #fff, 1416px 923px #fff, 229px 691px #fff, 1732px 485px #fff, 1154px 334px #fff, 824px 653px #fff, 314px 905px #fff, 504px 841px #fff, 1764px 650px #fff, 126px 934px #fff, 1765px 563px #fff, 501px 784px #fff, 543px 468px #fff, 178px 69px #fff, 1861px 480px #fff, 1701px 638px #fff, 1492px 920px #fff, 944px 947px #fff, 458px 976px #fff, 307px 874px #fff, 605px 565px #fff, 861px 711px #fff, 363px 160px #fff, 178px 683px #fff, 1668px 628px #fff, 235px 897px #fff, 423px 618px #fff, 1218px 344px #fff, 273px 274px #fff, 1415px 3px #fff, 1626px 307px #fff, 1589px 767px #fff, 1249px 315px #fff, 1043px 468px #fff, 1209px 824px #fff, 1666px 300px #fff, 1459px 570px #fff, 945px 495px #fff, 1196px 883px #fff, 781px 581px #fff, 1205px 946px #fff, 1450px 787px #fff, 1384px 166px #fff, 1879px 550px #fff, 1754px 696px #fff, 807px 991px #fff, 1256px 66px #fff, 1613px 648px #fff, 1665px 733px #fff, 85px 582px #fff, 1430px 759px #fff, 1705px 836px #fff, 1868px 394px #fff, 1471px 847px #fff, 703px 7px #fff, 1904px 981px #fff, 690px 547px #fff, 392px 556px #fff, 901px 667px #fff, 1664px 133px #fff, 759px 445px #fff, 286px 538px #fff, 1596px 870px #fff, 1754px 73px #fff, 1421px 895px #fff, 976px 74px #fff, 583px 455px #fff, 1247px 356px #fff, 51px 914px #fff, 121px 37px #fff, 1148px 608px #fff, 641px 622px #fff, 279px 814px #fff, 1200px 216px #fff, 369px 331px #fff, 1120px 491px #fff, 1689px 190px #fff, 1060px 624px #fff, 995px 388px #fff, 818px 804px #fff, 296px 648px #fff, 622px 252px #fff, 327px 64px #fff, 1338px 404px #fff, 1463px 362px #fff, 1613px 610px #fff, 292px 219px #fff, 172px 146px #fff, 1646px 391px #fff, 1786px 39px #fff, 1211px 362px #fff, 660px 289px #fff, 1391px 299px #fff, 1425px 893px #fff, 1476px 373px #fff, 1037px 910px #fff, 1648px 729px #fff, 998px 855px #fff, 1087px 639px #fff, 277px 83px #fff, 1249px 967px #fff, 19px 250px #fff, 579px 529px #fff, 1360px 794px #fff, 625px 530px #fff, 530px 284px #fff, 622px 139px #fff, 105px 46px #fff, 445px 211px #fff, 1881px 373px #fff, 347px 507px #fff, 843px 862px #fff, 556px 116px #fff, 698px 809px #fff, 1579px 406px #fff, 1783px 292px #fff, 554px 492px #fff, 1246px 545px #fff, 1920px 934px #fff, 1467px 224px #fff, 912px 761px #fff, 1658px 636px #fff, 1467px 350px #fff, 471px 195px #fff, 256px 695px #fff, 1094px 864px #fff, 897px 292px #fff, 173px 685px #fff, 1780px 930px #fff, 1368px 739px #fff, 506px 621px #fff, 1160px 609px #fff, 1078px 422px #fff, 604px 865px #fff, 416px 186px #fff, 69px 782px #fff, 617px 678px #fff, 949px 643px #fff, 506px 931px #fff, 1472px 409px #fff, 345px 321px #fff, 399px 831px #fff, 548px 346px #fff, 302px 962px #fff, 489px 929px #fff, 1247px 617px #fff, 725px 875px #fff, 554px 982px #fff, 1106px 371px #fff, 1038px 655px #fff, 81px 804px #fff, 476px 243px #fff, 349px 669px #fff, 408px 438px #fff, 859px 65px #fff, 110px 316px #fff, 381px 319px #fff, 1667px 436px #fff, 1829px 41px #fff, 1410px 341px #fff, 227px 923px #fff, 1374px 463px #fff, 546px 260px #fff, 515px 996px #fff, 1273px 778px #fff, 390px 713px #fff, 804px 132px #fff, 794px 536px #fff, 1537px 213px #fff, 1224px 303px #fff, 1433px 379px #fff, 695px 360px #fff, 1608px 947px #fff, 52px 593px #fff, 1387px 469px #fff, 1812px 926px #fff, 277px 75px #fff, 735px 986px #fff, 1255px 29px #fff, 50px 80px #fff, 1141px 885px #fff, 263px 17px #fff, 1083px 967px #fff, 1745px 821px #fff, 317px 129px #fff, 1315px 292px #fff, 1896px 652px #fff, 1089px 456px #fff, 1765px 694px #fff, 1168px 872px #fff, 1288px 249px #fff, 4px 498px #fff, 842px 734px #fff, 165px 752px #fff, 1081px 515px #fff, 1823px 988px #fff, 290px 87px #fff, 812px 98px #fff, 925px 216px #fff, 453px 208px #fff, 1881px 797px #fff, 769px 505px #fff, 436px 656px #fff, 173px 648px #fff, 783px 273px #fff, 1842px 27px #fff, 1305px 954px #fff, 1865px 30px #fff, 1611px 427px #fff, 307px 878px #fff, 1px 932px #fff, 1549px 875px #fff, 1839px 456px #fff, 1705px 984px #fff, 845px 408px #fff, 1442px 930px #fff, 727px 511px #fff, 117px 474px #fff, 1544px 267px #fff, 1555px 247px #fff, 701px 488px #fff, 1036px 583px #fff, 423px 722px #fff, 39px 211px #fff, 1451px 383px #fff, 1736px 695px #fff, 146px 368px #fff, 1612px 288px #fff, 1112px 241px #fff, 475px 654px #fff, 846px 68px #fff, 1459px 5px #fff, 392px 315px #fff, 1175px 164px #fff, 510px 919px #fff, 472px 944px #fff, 539px 192px #fff, 537px 148px #fff, 1510px 752px #fff, 482px 46px #fff, 1760px 152px #fff, 1367px 586px #fff, 1640px 947px #fff, 628px 947px #fff, 1701px 688px #fff, 1015px 102px #fff, 918px 960px #fff, 1722px 989px #fff, 1071px 743px #fff, 1127px 240px #fff, 1710px 210px #fff, 1660px 680px #fff, 170px 125px #fff, 1307px 994px #fff, 1668px 157px #fff, 885px 584px #fff, 241px 397px #fff, 486px 468px #fff, 1822px 908px #fff, 1502px 955px #fff;
}

.meteor-1 {
  position: absolute;
  top: 261px;
  left: 41%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.1s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 156px;
  left: 61%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.6s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 292px;
  left: 91%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.6s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 135px;
  left: 75%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.8s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 199px;
  left: 99%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.2s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 216px;
  left: 53%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.8s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 86px;
  left: 82%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.9s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 257px;
  left: 98%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.9s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 73px;
  left: 93%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.4s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 76px;
  left: 74%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.1s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 146px;
  left: 50%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.8s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 122px;
  left: 95%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 88px;
  left: 94%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 247px;
  left: 40%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.8s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 161px;
  left: 24%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.9s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor {
  position: absolute;
  top: 149px;
  left: 71%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.9s linear infinite;
}
.meteor::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}/*# sourceMappingURL=main.css.map */