@keyframes meteor {
    0% {
        opacity: 1;
        margin-top: -300px;
        margin-right: -300px;
    }
    12% {
        opacity: 0;
    }
    15% {
        margin-top: 300px;
        margin-left: -600px;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.hidden-left {
    opacity: 0;
    transform: translateX(-100%); 
    transition: opacity 1s, transform 1s;
}

.hidden-left-onces {
    opacity: 0;
    transform: translateX(-100%); 
    transition: opacity 1s, transform 1s;
}

.hidden-right-onces {
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 1s, transform 1s;
}

.hidden-right {
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 1s, transform 1s;
}

.hidden-down {
    transform: translateY(500%); 
    transition: opacity 1s, transform 1s;
}

.hidden-down-onces {
    opacity: 0;
    transform: translateY(200%); 
    transition: opacity 1s, transform 1s;
}

.hidden-up {
    opacity: 0;
    transform: translateY(-100%); 
    transition: opacity 1s, transform 1s;
}

.hidden-up-onces {
    opacity: 0;
    transform: translateY(-100%); 
    transition: opacity 1s, transform 1s;
}

.show {
    opacity: 1;
    transform: translate(0%);
    transition: opacity 1s, transform 1s;
}


