@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.show-on-load {
  transform: translateY(500%);
  transition: transform 2s ease-out;
}

.animate {
  transform: translateY(0);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 2s;
}

.hidden-left-once {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 2s;
}

.hidden-right-once {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 2s;
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 2s;
}

.hidden-down {
  transform: translateY(100%);
  transition: opacity 1s, transform 2s;
}

.hidden-down-once {
  transform: translateY(500%);
}

.hidden-up {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s, transform 2s;
}

.hidden-up-once {
  opacity: 0;
  transform: translateY(0%);
  transition: opacity 1s, transform 2s;
}

.show {
  opacity: 1;
  transform: translate(0%);
  transition: opacity 1s, transform 2s;
}

.groovy {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.groovy:hover {
  transform: scale(1.1);
  color: #5C7AFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  cursor: url("../img/dedo.png"), auto;
}

body {
  font-family: "SpaceGrotesk";
  color: #201E1F;
  font-size: larger;
}

html, body {
  background: #F0F6F6;
}

.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 1fr;
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
}

.header {
  padding: 1rem;
}

nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.inicio {
  text-align: center;
  padding: 2rem;
}

.inicio h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Opcional: ajusta el peso de la fuente si es necesario */
  background-image: url("../img/blurry-gradient-haikei.png"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen según el contenedor */
  background-clip: text; /* Clipa el fondo a la forma del texto */
  -webkit-background-clip: text; /* Necesario para compatibilidad con WebKit browsers (Chrome, Safari) */
  color: transparent; /* Hace que el texto sea transparente para que solo se vea el fondo */
  display: inline-block; /* Asegura que el fondo se ajuste al tamaño del texto */
}

.inicio h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.inicio p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cv-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  background-image: url("../img/blurry-gradient-haikei.png");
  background-size: cover; /* Asegura que la imagen cubra el elemento */
  background-position: center; /* Centra la imagen dentro del elemento */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  border: 3px solid #ffffff; /* Borde negro */
  border-radius: 8px; /* Bordes ligeramente redondeados */
  transition: background-position 0.5s ease;
}

.cv-button:hover {
  background-position: right top;
}

.stack {
  width: 80%;
  text-align: center;
  margin: auto;
}
.stack i {
  display: block;
}
.stack h1 {
  background-color: #F0F6F6;
  padding: 1rem;
  font-size: 2.5rem;
}

.datagrid-container {
  background-color: #F0F6F6;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.datagrid-container .datagrid-item {
  color: white;
  background-image: url("../img/blurry-gradient-haikei.png");
  background-size: cover;
  background-position: center;
  /* Evita que la imagen se repita */
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-position 0.5s ease;
}
.datagrid-container .datagrid-item:hover {
  background-position: right top;
}
.datagrid-container h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.datagrid-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.datagrid-container ul li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .datagrid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .datagrid-item h3 {
    font-size: 1.3rem;
  }
  .datagrid-item li {
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  .datagrid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
  }
  .datagrid-item h3 {
    font-size: 1.2rem;
  }
  .datagrid-item li {
    font-size: 0.8rem;
  }
}
.contact {
  padding: 2rem;
  text-align: center;
}
.contact .contact-content {
  background-color: #f4f4f4;
  margin: 0 auto;
}
.contact .contact-content h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}
.contact .contact-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}
.contact .contact-content .contact-button {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #000; /* Color del texto negro */
  background-image: url("../img/blurry-gradient-haikei.png");
  background-size: cover; /* Asegura que la imagen cubra el elemento */
  background-position: center; /* Centra la imagen dentro del elemento */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  border: 3px solid #ffffff; /* Borde negro */
  border-radius: 8px; /* Bordes ligeramente redondeados */
  transition: background-position 0.5s ease;
}
.contact .contact-content .contact-button a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}
.contact .contact-content .contact-button:hover {
  background-position: right top;
}

@media (max-width: 900px) {
  .contact {
    padding: 1.5rem;
  }
  .contact .contact-content h1 {
    font-size: 1.8rem;
  }
  .contact .contact-content p {
    font-size: 0.9rem;
  }
  .contact .contact-content .contact-link {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px) {
  .cv-button:active {
    background-position: right top;
  }
  .stack-datagrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media screen and (max-width: 600px) {
  .cv-button:active {
    background-position: right top;
  }
  nav {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  .datagrid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 2rem;
  }
}
footer {
  color: #F0F6F6;
  background-image: url("../img/blurry-gradient-haikei.png");
  background-size: cover; /* Asegura que la imagen cubra el elemento */
  background-position: center; /* Centra la imagen dentro del elemento */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 2rem 0; /* Espaciado arriba y abajo */
  text-align: center; /* Centra el texto */
  border-top: 5px solid rgb(255, 254, 254);
}

.footer-container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px; /* Espaciado interno a los lados */
}

.footer-text {
  margin: 0.5rem 0;
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
}

.footer-email {
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
  color: #F0F6F6; /* Color del texto del correo */
}

.footer-email-link {
  color: #F0F6F6; /* Color del enlace del correo */
  text-decoration: none; /* Elimina el subrayado */
}

.footer-email-link:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.footer-social-media {
  margin-top: 0.9rem; /* Espaciado arriba del área de redes sociales */
  display: flex;
  justify-content: center; /* Centra los iconos de redes sociales */
  gap: 1rem; /* Espacio entre iconos */
}

.social-icon {
  color: #F0F6F6;
  font-size: 1.5rem; /* Tamaño de los iconos */
  text-decoration: none; /* Elimina el subrayado */
}

.social-icon:hover {
  color: #000; /* Cambia el color al pasar el cursor */
}/*# sourceMappingURL=main.css.map */