@charset "UTF-8";
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.show-on-load {
  transform: translateY(500%);
  transition: transform 2s ease-out;
}

.animate {
  transform: translateY(0);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 2s;
}

.hidden-left-once {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 2s;
}

.hidden-right-once {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 2s;
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 2s;
}

.hidden-down {
  transform: translateY(100%);
  transition: opacity 1s, transform 2s;
}

.hidden-down-once {
  transform: translateY(500%);
}

.hidden-up {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s, transform 2s;
}

.hidden-up-once {
  opacity: 0;
  transform: translateY(0%);
  transition: opacity 1s, transform 2s;
}

.show {
  opacity: 1;
  transform: translate(0%);
  transition: opacity 1s, transform 2s;
}

#sun-icon,
#moon-icon {
  display: none;
  color: rgb(51, 51, 51);
}

.light-mode #moon-icon {
  display: inline;
}

footer {
  background-color: rgb(51, 51, 51);
  color: white;
}

.light-mode .datagrid-item {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.dark-mode #sun-icon {
  display: inline;
  color: white;
}

body.dark-mode #name {
  animation: pulsate 1.5s infinite alternate;
}

body.dark-mode .datagrid-item {
  border: 2px solid var(--main-color);
}

body.dark-mode button {
  border: 2px solid var(--main-color);
}

body.dark-mode {
  background-color: #121212;
  color: #E0E0E0;
}

.dark-mode button {
  background-color: #333333;
  border: 1px solid #444444;
}

body.dark-mode .fa-github {
  color: #FFFFFF;
  opacity: 0.8;
  transition: color 0.3s, opacity 0.3s;
}

body.light-mode .fa-github {
  color: #0b0b0b;
  opacity: 0.8;
  transition: color 0.3s, opacity 0.3s;
}

body.dark-mode .fa-linkedin {
  color: #FFFFFF;
  opacity: 0.8;
  transition: color 0.3s, opacity 0.3s;
}

body.light-mode .fa-linkedin {
  color: #0b0b0b;
  opacity: 0.8;
  transition: color 0.3s, opacity 0.3s;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 20px #bc13fe, 0 0 30px #bc13fe, 0 0 40px #bc13fe, 0 0 50px #bc13fe, 0 0 70px #bc13fe;
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #bc13fe, 0 0 15px #bc13fe, 0 0 20px #bc13fe, 0 0 25px #bc13fe, 0 0 30px #bc13fe;
  }
}
.groovy {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.groovy:hover {
  transform: scale(1.1);
  color: #5C7AFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  cursor: url("../img/dedo.png"), auto;
}

body {
  font-family: "SpaceGrotesk";
  color: #201E1F;
  font-size: larger;
}

body.light-mode {
  --body-color: #FFFFFF;
  --text-color: #000000;
  --title-color: #333333;
  --main-color: #007BFF;
  --light-text-color: #555555;
  --button-bg-color: #007BFF;
  --button-text-color: #FFFFFF;
}

body.dark-mode {
  --body-color: #121212;
  --text-color: #E0E0E0;
  --title-color: #FFFFFF;
  --main-color: #bc13fe;
  --light-text-color: #BBBBBB;
  --button-bg-color: #333333;
  --button-text-color: #FFFFFF;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

a {
  color: var(--main-color);
}

.subtitle {
  color: var(--light-text-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 8px;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button a {
  text-decoration: none;
  color: inherit;
}

.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 1fr;
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
}

.header {
  padding: 1rem;
}

nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.inicio {
  text-align: center;
  padding: 2rem;
}

.inicio h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Opcional: ajusta el peso de la fuente si es necesario */
}

.inicio h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.inicio p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cv-button a {
  display: inline-block;
}

.stack {
  width: 85%;
  text-align: center;
  margin: auto;
}
.stack i {
  display: block;
}
.stack h1 {
  padding: 1rem;
  font-size: 2.5rem;
}

.datagrid-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.datagrid-container .datagrid-item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-position 0.5s ease;
}
.datagrid-container .datagrid-item:hover {
  background-position: right top;
}
.datagrid-container h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.datagrid-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.datagrid-container ul li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .datagrid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .stack {
    width: 100%;
  }
  .datagrid-item h3 {
    font-size: 1.3rem;
  }
  .datagrid-item li {
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  .datagrid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
  }
  .stack {
    width: 100%;
  }
  .datagrid-item h3 {
    font-size: 1.2rem;
  }
  .datagrid-item li {
    font-size: 0.8rem;
  }
}
.contact {
  padding: 2rem;
  text-align: center;
}
.contact .contact-content {
  margin: 0 auto;
}
.contact .contact-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.contact .contact-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}
.contact .contact-content .contact-button {
  display: inline-block;
}

@media (max-width: 900px) {
  .contact {
    padding: 1.5rem;
  }
  .contact .contact-content h1 {
    font-size: 1.8rem;
  }
  .contact .contact-content p {
    font-size: 0.9rem;
  }
  .contact .contact-content .contact-link {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px) {
  .cv-button:active {
    background-position: right top;
  }
  .stack-datagrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media screen and (max-width: 600px) {
  .cv-button:active {
    background-position: right top;
  }
  nav {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  .datagrid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 2rem;
  }
}
footer {
  padding: 2rem 0; /* Espaciado arriba y abajo */
  text-align: center; /* Centra el texto */
}

.footer-container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px; /* Espaciado interno a los lados */
}

.footer-text {
  margin: 0.5rem 0;
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
}

.footer-email {
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
}

.footer-email-link {
  text-decoration: none; /* Elimina el subrayado */
}

.footer-email-link:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.footer-social-media {
  margin-top: 0.9rem; /* Espaciado arriba del área de redes sociales */
  display: flex;
  justify-content: center; /* Centra los iconos de redes sociales */
  gap: 1rem; /* Espacio entre iconos */
}

.social-icon {
  font-size: 1.5rem; /* Tamaño de los iconos */
  text-decoration: none; /* Elimina el subrayado */
}/*# sourceMappingURL=main.css.map */