@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

/* *********************/
/* seccion I N I C I O */
/* *********************/

section {
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(200px);
    transform: translateX(-100%);
    transition: all 1s
}




.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#inicio {
    background: url(img/wave-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}


#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    font-size: large;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: #ff5080;
}



.layer1 {
    background-image:url(img/waves.svg);
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobremi {
    max-width: 1100px;
    margin: auto;
    color: #111135;
    display: grid;

}

#sobremi a {

    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #000000;
    border-radius: 50px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#contenedor-sobremi {
    border: 1rem;
}


#sobremi .sobremi {
    margin: 1rem 2rem;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #ff5080;
}



#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}

/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicio-1 {
    transition-delay: 0ms;
}

#servicio-2 {
    transition-delay: 1000ms;
}

#servicio-3 {
    transition-delay: 2000ms;
}

#servicio-4 {
    transition-delay: 3000ms;
}

#servicio-5 {
    transition-delay: 4000ms;
}

#servicio-6 {
    transition-delay: 5000ms;
}

#servicios {
    padding: 100px 15px;
    text-align: center;
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}


/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: grid;
    }

    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img {
        padding: 8px;
    }

    #sobremi .sobremi{
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }

    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicio {
        margin: 10px auto;
    }

    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}