@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

nav {
    background-color: #636363;
    padding: 10px 0;
    text-align: center;
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}


  .star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 513px 24px #fff, 295px 66px #fff, 1447px 53px #fff, 1688px 630px #fff, 1666px 261px #fff, 1635px 471px #fff, 575px 432px #fff, 913px 791px #fff, 1331px 568px #fff, 783px 153px #fff, 1483px 728px #fff, 956px 133px #fff, 527px 367px #fff, 308px 753px #fff, 1641px 665px #fff, 1174px 573px #fff, 10px 540px #fff, 151px 361px #fff, 1712px 715px #fff, 1638px 736px #fff, 1068px 96px #fff, 485px 91px #fff, 528px 389px #fff, 1493px 858px #fff, 1440px 815px #fff, 1562px 144px #fff, 681px 930px #fff, 1613px 626px #fff, 411px 72px #fff, 858px 929px #fff, 576px 253px #fff, 397px 968px #fff, 269px 160px #fff, 1074px 986px #fff, 1078px 932px #fff, 1464px 855px #fff, 989px 534px #fff, 346px 832px #fff, 482px 192px #fff, 858px 787px #fff, 871px 396px #fff, 470px 142px #fff, 44px 196px #fff, 1724px 793px #fff, 509px 972px #fff, 1236px 50px #fff, 1638px 774px #fff, 1023px 109px #fff, 1190px 659px #fff, 1797px 661px #fff, 1299px 811px #fff, 851px 928px #fff, 424px 977px #fff, 1340px 261px #fff, 451px 955px #fff, 1284px 911px #fff, 1210px 66px #fff, 1221px 799px #fff, 361px 420px #fff, 724px 630px #fff, 1659px 412px #fff, 1880px 799px #fff, 1616px 50px #fff, 1516px 100px #fff, 1591px 680px #fff, 67px 543px #fff, 781px 159px #fff, 961px 337px #fff, 1581px 826px #fff, 404px 990px #fff, 1526px 434px #fff, 1233px 901px #fff, 212px 49px #fff, 1266px 639px #fff, 997px 500px #fff, 1557px 909px #fff, 1475px 36px #fff, 217px 72px #fff, 818px 700px #fff, 864px 761px #fff, 1077px 104px #fff, 66px 808px #fff, 578px 625px #fff, 1186px 490px #fff, 333px 644px #fff, 606px 380px #fff, 1104px 667px #fff, 1718px 414px #fff, 1389px 263px #fff, 500px 876px #fff, 637px 515px #fff, 792px 462px #fff, 213px 136px #fff, 80px 551px #fff, 761px 375px #fff, 811px 491px #fff, 776px 181px #fff, 1571px 5px #fff, 922px 883px #fff, 466px 63px #fff, 1219px 124px #fff, 39px 946px #fff, 1213px 913px #fff, 1898px 208px #fff, 352px 680px #fff, 27px 289px #fff, 1838px 187px #fff, 273px 744px #fff, 1436px 859px #fff, 605px 992px #fff, 877px 504px #fff, 205px 997px #fff, 1676px 622px #fff, 509px 200px #fff, 1211px 463px #fff, 1438px 530px #fff, 693px 903px #fff, 1217px 774px #fff, 700px 841px #fff, 1606px 937px #fff, 432px 904px #fff, 95px 745px #fff, 627px 367px #fff, 1878px 822px #fff, 1839px 157px #fff, 1518px 684px #fff, 1220px 720px #fff, 478px 239px #fff, 457px 258px #fff, 492px 711px #fff, 622px 365px #fff, 318px 108px #fff, 1110px 233px #fff, 1564px 922px #fff, 100px 109px #fff, 1645px 542px #fff, 1296px 352px #fff, 1751px 549px #fff, 769px 343px #fff, 1377px 303px #fff, 172px 420px #fff, 1423px 318px #fff, 584px 364px #fff, 607px 194px #fff, 1435px 977px #fff, 813px 115px #fff, 1236px 400px #fff, 869px 205px #fff, 793px 898px #fff, 1394px 259px #fff, 44px 842px #fff, 1024px 246px #fff, 679px 411px #fff, 1860px 936px #fff, 1876px 253px #fff, 152px 516px #fff, 1872px 254px #fff, 1638px 421px #fff, 708px 822px #fff, 535px 917px #fff, 1677px 11px #fff, 679px 759px #fff, 604px 758px #fff, 1670px 400px #fff, 1186px 70px #fff, 803px 947px #fff, 1680px 145px #fff, 56px 606px #fff, 998px 673px #fff, 232px 579px #fff, 139px 965px #fff, 728px 793px #fff, 300px 976px #fff, 746px 169px #fff, 1029px 222px #fff, 1121px 131px #fff, 1178px 992px #fff, 1493px 114px #fff, 1186px 246px #fff, 1898px 229px #fff, 1737px 307px #fff, 1170px 124px #fff, 1509px 959px #fff, 46px 288px #fff, 282px 442px #fff, 465px 805px #fff, 1429px 369px #fff, 909px 1px #fff, 402px 278px #fff, 734px 441px #fff, 826px 875px #fff, 1572px 830px #fff, 906px 235px #fff, 1721px 125px #fff, 1355px 238px #fff, 75px 426px #fff, 852px 695px #fff, 563px 961px #fff, 1279px 147px #fff, 359px 792px #fff, 1538px 109px #fff, 333px 762px #fff, 865px 390px #fff, 1302px 418px #fff, 418px 357px #fff, 1372px 871px #fff, 1558px 984px #fff, 1525px 981px #fff, 1719px 79px #fff, 435px 845px #fff, 325px 71px #fff, 1774px 847px #fff, 1717px 495px #fff, 1780px 485px #fff, 1763px 225px #fff, 305px 266px #fff, 1450px 320px #fff, 1835px 16px #fff, 1893px 85px #fff, 6px 398px #fff, 741px 159px #fff, 1778px 460px #fff, 885px 486px #fff, 640px 164px #fff, 1707px 138px #fff, 1279px 623px #fff, 987px 421px #fff, 1259px 53px #fff, 1789px 742px #fff, 1191px 188px #fff, 613px 469px #fff, 1821px 76px #fff, 1642px 526px #fff, 836px 482px #fff, 868px 227px #fff, 1425px 730px #fff, 167px 298px #fff, 240px 284px #fff, 191px 672px #fff, 662px 957px #fff, 492px 496px #fff, 174px 641px #fff, 901px 229px #fff, 242px 181px #fff, 300px 199px #fff, 1339px 428px #fff, 1450px 582px #fff, 860px 298px #fff, 403px 621px #fff, 1266px 597px #fff, 489px 325px #fff, 88px 512px #fff, 453px 746px #fff, 1479px 856px #fff, 1812px 487px #fff, 1290px 821px #fff, 305px 484px #fff, 1909px 843px #fff, 1900px 835px #fff, 1359px 860px #fff, 1741px 737px #fff, 55px 761px #fff, 77px 624px #fff, 1045px 9px #fff, 867px 923px #fff, 1639px 180px #fff, 1478px 801px #fff, 476px 332px #fff, 1482px 591px #fff, 1844px 601px #fff, 508px 620px #fff, 149px 740px #fff, 658px 481px #fff, 1089px 265px #fff, 1264px 949px #fff, 452px 922px #fff, 1021px 281px #fff, 971px 330px #fff, 428px 665px #fff, 737px 84px #fff, 1412px 599px #fff, 1189px 459px #fff, 811px 826px #fff, 276px 355px #fff, 164px 315px #fff, 731px 284px #fff, 292px 488px #fff, 738px 157px #fff, 1562px 317px #fff, 225px 820px #fff, 1036px 715px #fff, 219px 166px #fff, 426px 284px #fff, 904px 432px #fff, 215px 807px #fff, 1295px 562px #fff, 294px 550px #fff, 495px 720px #fff, 120px 166px #fff, 1803px 261px #fff, 715px 460px #fff, 1079px 528px #fff, 1213px 489px #fff, 496px 210px #fff, 1530px 585px #fff, 1893px 231px #fff, 821px 537px #fff, 586px 807px #fff, 167px 743px #fff, 1284px 603px #fff, 1468px 379px #fff, 1048px 330px #fff, 1050px 370px #fff, 1142px 603px #fff, 1088px 409px #fff, 244px 136px #fff, 1436px 229px #fff, 439px 968px #fff, 1759px 325px #fff, 1595px 901px #fff, 776px 215px #fff, 1580px 338px #fff, 415px 526px #fff, 278px 357px #fff, 1306px 937px #fff, 536px 106px #fff, 1734px 356px #fff, 659px 112px #fff, 1477px 889px #fff, 464px 474px #fff, 1080px 486px #fff, 40px 127px #fff, 1683px 700px #fff, 401px 966px #fff, 1632px 462px #fff, 1645px 236px #fff, 528px 182px #fff, 637px 667px #fff, 1623px 534px #fff, 66px 944px #fff, 754px 832px #fff, 1189px 893px #fff, 1895px 455px #fff, 602px 655px #fff, 644px 709px #fff, 1843px 469px #fff, 1595px 101px #fff, 81px 922px #fff, 921px 941px #fff, 262px 276px #fff, 1157px 332px #fff, 1205px 977px #fff, 773px 206px #fff, 583px 20px #fff, 340px 203px #fff, 789px 687px #fff, 697px 834px #fff, 1564px 370px #fff, 281px 489px #fff, 1030px 323px #fff, 202px 108px #fff, 1410px 377px #fff, 1641px 813px #fff, 1515px 286px #fff, 1765px 636px #fff, 1817px 526px #fff, 1590px 216px #fff, 1878px 676px #fff, 1838px 123px #fff, 1774px 287px #fff, 670px 350px #fff, 209px 59px #fff, 1845px 957px #fff, 1555px 774px #fff, 201px 633px #fff, 408px 668px #fff, 115px 553px #fff, 1190px 413px #fff, 761px 353px #fff, 646px 646px #fff, 69px 588px #fff, 1613px 874px #fff, 1637px 775px #fff, 1872px 535px #fff, 1687px 158px #fff, 1103px 549px #fff, 370px 422px #fff, 452px 947px #fff, 1133px 991px #fff, 1297px 486px #fff, 64px 295px #fff, 34px 125px #fff, 271px 973px #fff, 1834px 530px #fff, 1561px 98px #fff, 1320px 277px #fff, 484px 578px #fff, 1460px 782px #fff, 1809px 401px #fff, 958px 711px #fff, 959px 648px #fff, 1427px 688px #fff, 706px 829px #fff, 1868px 281px #fff, 1497px 617px #fff, 1717px 389px #fff, 1918px 222px #fff, 1277px 284px #fff, 1744px 608px #fff, 1812px 600px #fff, 1183px 620px #fff, 1315px 342px #fff, 155px 522px #fff, 1008px 734px #fff, 1915px 329px #fff, 385px 902px #fff, 853px 837px #fff, 104px 735px #fff, 67px 756px #fff, 12px 50px #fff, 1597px 833px #fff, 920px 666px #fff, 73px 669px #fff, 1770px 975px #fff, 1509px 892px #fff, 1647px 458px #fff, 887px 994px #fff, 206px 536px #fff, 692px 84px #fff, 624px 612px #fff, 1330px 936px #fff, 380px 56px #fff, 1109px 892px #fff, 1883px 570px #fff, 1535px 417px #fff, 1742px 681px #fff, 738px 973px #fff, 1311px 2px #fff, 1092px 405px #fff, 1442px 925px #fff, 114px 330px #fff, 1260px 988px #fff, 209px 563px #fff, 328px 610px #fff, 1832px 343px #fff, 949px 777px #fff, 2px 133px #fff, 652px 635px #fff, 1843px 495px #fff, 1130px 223px #fff, 1047px 629px #fff, 1312px 717px #fff, 1727px 722px #fff, 1780px 576px #fff, 579px 734px #fff, 1614px 644px #fff, 1545px 46px #fff, 75px 953px #fff, 284px 189px #fff, 460px 916px #fff, 506px 677px #fff, 925px 486px #fff, 244px 259px #fff, 1113px 736px #fff, 1862px 862px #fff, 984px 121px #fff, 1577px 44px #fff, 1394px 472px #fff, 1729px 878px #fff, 807px 562px #fff, 130px 12px #fff, 881px 623px #fff, 153px 355px #fff, 1029px 602px #fff, 1698px 430px #fff, 1575px 1000px #fff, 241px 87px #fff, 896px 58px #fff, 1393px 646px #fff, 1363px 670px #fff, 1189px 610px #fff, 779px 149px #fff, 1203px 682px #fff, 539px 123px #fff, 269px 564px #fff, 436px 473px #fff, 1129px 526px #fff, 635px 221px #fff, 1632px 27px #fff, 1646px 822px #fff, 1564px 942px #fff, 1453px 147px #fff, 542px 852px #fff, 1334px 911px #fff, 239px 844px #fff, 705px 223px #fff, 1583px 742px #fff, 1510px 712px #fff, 650px 6px #fff, 690px 999px #fff;
  }
  
  .meteor-1 {
    position: absolute;
    top: 140px;
    left: 50%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.3s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-2 {
    position: absolute;
    top: 284px;
    left: 40%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.7s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-3 {
    position: absolute;
    top: 212px;
    left: 19%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.5s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-4 {
    position: absolute;
    top: 190px;
    left: 88%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.7s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-5 {
    position: absolute;
    top: 59px;
    left: 92%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.9s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-6 {
    position: absolute;
    top: 82px;
    left: 55%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.9s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-7 {
    position: absolute;
    top: 69px;
    left: 54%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.1s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-8 {
    position: absolute;
    top: 261px;
    left: 30%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.3s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-9 {
    position: absolute;
    top: 259px;
    left: 44%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.4s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-10 {
    position: absolute;
    top: 239px;
    left: 54%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.8s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-11 {
    position: absolute;
    top: 170px;
    left: 18%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.5s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-12 {
    position: absolute;
    top: 141px;
    left: 41%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.2s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-13 {
    position: absolute;
    top: 51px;
    left: 56%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.9s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-14 {
    position: absolute;
    top: 262px;
    left: 70%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.4s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-15 {
    position: absolute;
    top: 283px;
    left: 64%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.4s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }/*# sourceMappingURL=estilos.css.map */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,
body {
    scroll-behavior: smooth;
    background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}


.container {
    position: relative;
    overflow: hidden;
}


/* *********************/
/* seccion I N I C I O */
/* *********************/

section {
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


/* Inicialmente, el elemento estará oculto y desplazado hacia la derecha */
.hidden {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
}

/* Cuando el elemento se muestre, la opacidad será 1 y no habrá desplazamiento */
.show {
    opacity: 1;
    transform: translateX(0%);
}


#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    font-size: large;
}

.boton {
    text-decoration: none;
    margin: 25px;
    padding: 20px 45px;
    border: 2px solid transparent;
    /* Se define transparente para ser sobrescrito */
    border-radius: 50px;
    text-transform: uppercase;
}

#button_slide {

    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}


#button_slide:hover {
    box-shadow: inset 0 100px 0 0 #616161;
}


.boton-blanco {
    color: #fff;
    /* Texto blanco */
    border-color: #fff;
    /* Borde blanco */
}

.boton-negro {
    color: #1e2d2f;
    /* Texto negro */
    border-color: #1e2d2f;
    /* Borde negro */
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/

.text-sobremi {
}


#sobremi {
    max-width: 1100px;
    margin: auto;
    color: #111135;
    display: grid;

}



#contenedor-sobremi {
    border: 1rem;
}


#sobremi .sobremi {
    border-radius: 3rem;
    background-color: whitesmoke;
    padding: 1rem 3rem;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #ff5080;
}



#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}

/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicio-1 {
    transition-delay: 0ms;
}

#servicio-2 {
    transition-delay: 1000ms;
}

#servicio-3 {
    transition-delay: 2000ms;
}

#servicio-4 {
    transition-delay: 3000ms;
}

#servicio-5 {
    transition-delay: 4000ms;
}

#servicio-6 {
    transition-delay: 5000ms;
}

#servicios {
    padding: 100px 15px;
    text-align: center;
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    transition: .5s;
    border-radius: 3rem;

}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}


/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: grid;
    }

    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img {
        padding: 8px;
    }

    #sobremi .sobremi {
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }

    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicio {
        margin: 10px auto;
    }

    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }

    .meteor {
        position: absolute;
        top: (random(250) + 50) + px;
        left: (random(90) + 9)*1%;
        width: 300px;
        height: 1px;
        transform: rotate(-45deg);
        background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        animation: meteor (random(70)/10 + 3)+s linear infinite;

    }

    .meteor::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 5px;
        border-radius: 50%;
        margin-top: -2px;
        background: rgba(#fff, .7);
        box-shadow: 0 0 15px 3px #fff;
    }


    @keyframes meteor {
        0% {
            opacity: 1;
            margin-top: -300px;
            margin-right: -300px;
        }

        12% {
            opacity: 0;
        }

        15% {
            margin-top: 300px;
            margin-left: -600px;
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }
}