@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.hidden-left-onces {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.hidden-right-onces {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateX(0%);
}

.groovy {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.groovy:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "SpaceGrotesk";
  color: #201E1F;
  font-size: larger;
  cursor: url("../../public/img/dedo.png"), auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 1fr;
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 5px; /* Ajusta el grosor de la línea */
  background-color: black; /* Color de la línea */
  transform: translateX(-50%); /* Centra la línea horizontalmente */
  z-index: 1; /* Coloca la línea detrás de otros elementos */
}

.inicio-contenido {
  position: relative;
  z-index: 2;
  background-color: #F0F6F6;
}

* {
  cursor: url("/home/pumuca/proyectos/portfolio/public/img/dedo.png"), auto;
}

html, body {
  background: #F0F6F6;
  background-repeat: no-repeat;
  background-size: cover;
}

.loader {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFF;
  transform: translate(-50%, -100%) scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0%, 50% {
    transform: translate(-50%, 0%) scale(1);
  }
  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}
.container {
  margin: auto;
  width: 80%;
}

.header {
  padding: 1rem;
}

nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: left;
  margin-right: auto;
  /* Asegura que el logo esté pegado a la izquierda */
}

.nav-links {
  flex: 2;
  text-align: center;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
}

.social-media {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

/* Estilos para el menú de hamburguesa */
.hamburger {
  display: none;
  background: none;
  border: none;
  color: #201E1F;
  cursor: none;
  z-index: 9999;
  /* Asegura que esté sobre todo lo demás */
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    /* Oculta los enlaces en pantallas pequeñas */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo oscuro con transparencia */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    /* Asegura que esté justo debajo del botón de hamburguesa */
  }
  .nav-links ul {
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger .fa-bars {
    display: block;
  }
  .hamburger .fa-times {
    display: none;
  }
  .nav-links.show ~ .hamburger .fa-bars {
    display: none;
  }
  .nav-links.show ~ .hamburger .fa-times {
    display: block;
  }
  .social-media {
    display: none;
    /* Oculta las redes sociales en pantallas pequeñas */
  }
}
.inicio {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna */
  grid-template-rows: repeat(2, auto); /* Tres filas de altura automática */
  gap: 1.5rem; /* Espacio entre las filas */
  text-align: center;
  padding: 20px;
  height: 95vh; /* Ajusta según tus necesidades; aquí ocupa toda la altura de la ventana */
  align-items: center; /* Centra los elementos verticalmente en cada fila */
}

.inicio h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.inicio h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.inicio p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cv-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  color: #000; /* Color del texto negro */
  background-color: #fff; /* Fondo blanco */
  border: 2px solid #000; /* Borde negro */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.cv-button:hover {

}

/* Estilo para el contenedor principal */
.stack {
  height: 100vh;
  position: relative;
  z-index: 2;
}

.stack-datagrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
  grid-template-rows: repeat(2, auto); /* 2 filas automáticas */
  background-color: #F0F6F6; /* Color de fondo */
  gap: 10px; /* Espacio entre los elementos de la cuadrícula */
  padding: 10px; /* Espacio interior del contenedor */
  border-radius: 8px; /* Opcional: redondea las esquinas del contenedor */
}

/* Estilo para cada elemento de la cuadrícula */
.stack-datagrid > div {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  background-color: #ffffff; /* Color de fondo de los elementos individuales */
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 20px; /* Espacio interior de los elementos */
  text-align: center; /* Centra el texto y los iconos */
  box-sizing: border-box; /* Incluye el borde y el padding en el tamaño total del elemento */
}

/* Estilos comunes para pantallas menores a 900px */
@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    /* Oculta los enlaces en pantallas pequeñas */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo oscuro con transparencia */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    /* Asegura que esté justo debajo del botón de hamburguesa */
  }
  .nav-links ul {
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger .fa-bars {
    display: block;
  }
  .hamburger .fa-times {
    display: none;
  }
  .nav-links.show ~ .hamburger .fa-bars {
    display: none;
  }
  .nav-links.show ~ .hamburger .fa-times {
    display: block;
  }
  nav {
    grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
    justify-items: center; /* Centra todos los elementos */
    text-align: center; /* Alinea el texto al centro */
  }
  nav ul {
    margin-top: 1rem;
  }
  .social-media {
    display: none; /* Oculta las redes sociales en pantallas pequeñas */
  }
  .stack-datagrid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    grid-template-rows: repeat(3, auto); /* Tres filas automáticas según el contenido */
  }
}
/* Estilos adicionales para pantallas menores a 600px */
@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
    justify-items: center; /* Centra todos los elementos */
    text-align: center; /* Alinea el texto al centro */
  }
  nav ul {
    display: none;
  }
  .stack-datagrid {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: repeat(6, auto); /* Seis filas automáticas según el contenido */
  }
}
footer {
  color: #F0F6F6;
  background-color: #5C7AFF; /* Fondo azul para el footer */
  padding: 2rem 0; /* Espaciado arriba y abajo */
  text-align: center; /* Centra el texto */
  border-top: 0.2rem solid #201E1F; /* Línea superior para separación */
}

.footer-container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px; /* Espaciado interno a los lados */
}

.footer-text {
  margin: 0.5rem 0;
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
}

.footer-email {
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
  color: #F0F6F6; /* Color del texto del correo */
}

.footer-email-link {
  color: #F0F6F6; /* Color del enlace del correo */
  text-decoration: none; /* Elimina el subrayado */
}

.footer-email-link:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.footer-social-media {
  margin-top: 0.9rem; /* Espaciado arriba del área de redes sociales */
  display: flex;
  justify-content: center; /* Centra los iconos de redes sociales */
  gap: 1rem; /* Espacio entre iconos */
}

.social-icon {
  color: #F0F6F6;
  font-size: 1.5rem; /* Tamaño de los iconos */
  text-decoration: none; /* Elimina el subrayado */
}

.social-icon:hover {
  color: #000; /* Cambia el color al pasar el cursor */
}/*# sourceMappingURL=main.css.map */