$breakpoint-md: 900px;
$breakpoint-sm: 600px;

.contact {

    padding: 2rem;
    text-align: center;

    .contact-content {
        margin: 0 auto;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }


        .contact-button {
            display: inline-block;

           
        }
    }
}

// Responsive adjustments for medium screens
@media (max-width: $breakpoint-md) {
    .contact {
        padding: 1.5rem;

        .contact-content {
            h1 {
                font-size: 1.8rem;
            }

            p {
                font-size: 0.9rem;
            }

            .contact-link {
                padding: 0.8rem 1.5rem;
                font-size: 0.9rem;
            }
        }
    }
}