footer {
    padding: 2rem 0; /* Espaciado arriba y abajo */
    text-align: center; /* Centra el texto */

}

.footer-container {
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0 20px; /* Espaciado interno a los lados */
}

.footer-text {
    margin: 0.5rem 0;
    font-size: 0.9rem; /* Tamaño de fuente pequeño */
}

.footer-email {
    font-size: 0.9rem; /* Tamaño de fuente pequeño */
}

.footer-email-link {
    text-decoration: none; /* Elimina el subrayado */
}

.footer-email-link:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.footer-social-media {
    margin-top: 0.9rem; /* Espaciado arriba del área de redes sociales */
    display: flex;
    justify-content: center; /* Centra los iconos de redes sociales */
    gap: 1rem; /* Espacio entre iconos */
}

.social-icon {
    font-size: 1.5rem; /* Tamaño de los iconos */
    text-decoration: none; /* Elimina el subrayado */
}

