.inicio {
    text-align: center;
    padding: 2rem;

}


.inicio h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
        font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
        font-weight: bold; /* Opcional: ajusta el peso de la fuente si es necesario */
}

.inicio h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.inicio p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.cv-button a {
    display: inline-block;
}

