@media screen and (max-width: 900px) {


    .cv-button:active {
        background-position: right top;
    }

    .stack-datagrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media screen and (max-width: 600px) {
    .cv-button:active {
        background-position: right top;
    }

    nav {
        grid-template-columns: auto;
        justify-items: center;
        text-align: center;
    }



    .datagrid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 2rem;
    }

}