$breakpoint-md: 900px;
$breakpoint-sm: 600px;

.stack {
  width: 80%;
  text-align: center;
  margin: auto;

  i {
    display: block;
  }

  h1 {
    padding: 1rem;
    font-size: 2.5rem;
  }
}

.datagrid-container {
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;

  .datagrid-item {
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-position 0.5s ease;
  }

  .datagrid-item:hover {
    background-position: right top;
  }



  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  ul {
    list-style: none; // Elimina los puntos de las listas
    padding: 0;
    margin: 0;

    li {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }
}


// Responsive adjustments for medium screens
@media (max-width: $breakpoint-md) {
  .datagrid-container {
    grid-template-columns: repeat(2, 1fr); // Reduce to 2 columns on medium screens
  }

  .datagrid-item {
    h3 {
      font-size: 1.3rem;
    }

    li {
      font-size: 0.9rem;
    }
  }
}

// Responsive adjustments for small screens
@media (max-width: $breakpoint-sm) {
  .datagrid-container {
    grid-template-columns: 1fr; // Single column layout on small screens
    grid-template-rows: repeat(1, auto);
  }

  .datagrid-item {
    h3 {
      font-size: 1.2rem;
    }

    li {
      font-size: 0.8rem;
    }
  }
}