.header {
  padding: 1rem;
}

nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;

}


@media screen and (max-width: 900px) {
  
}