@keyframes meteor {
    0% {
        opacity: 1;
        margin-top: -300px;
        margin-right: -300px;
    }

    12% {
        opacity: 0;
    }

    15% {
        margin-top: 300px;
        margin-left: -600px;
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show-on-load {
    transform: translateY(500%);
    transition: transform 2s ease-out;
}

.animate {
    transform: translateY(0);
  }

.hidden-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 2s;
}

.hidden-left-once {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 2s;
}

.hidden-right-once {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 2s;
}

.hidden-right {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 2s;
}

.hidden-down {
    transform: translateY(100%);
    transition: opacity 1s, transform 2s;
}

.hidden-down-once {
    transform: translateY(500%);
}

.hidden-up {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s, transform 2s;
}

.hidden-up-once {
    opacity: 0;
    transform: translateY(-00%);
    transition: opacity 1s, transform 2s;
}

.show {
    opacity: 1;
    transform: translate(0%);
    transition: opacity 1s, transform 2s;
}