#sun-icon,
#moon-icon {
    display: none;
    /* Ambos ocultos por defecto */
    color: rgb(51, 51, 51);
}

.light-mode #moon-icon {
    display: inline;
    /* Mostrar la luna en modo claro */
}

footer {
    background-color: rgb(51, 51, 51);
    color: white;
}

.light-mode .datagrid-item {
    background-color: #FFFFFF;
    /* Fondo blanco para modo claro */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 20px;
    /* Espaciado interno */
    margin: 15px;
    /* Espaciado externo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: box-shadow 0.3s;
    /* Transición suave para efectos */
}

.dark-mode #sun-icon {
    display: inline;
    /* Mostrar el sol en modo oscuro */
    color: white;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #121212;
    /* Fondo oscuro */
    color: #E0E0E0;
    /* Texto claro */
}

.dark-mode button {
    background-color: #333333;
    /* Fondo de botón oscuro */
    border: 1px solid #444444;
    /* Borde suave */
}

body.dark-mode .fa-github {
    color: #FFFFFF; /* Cambiar el color de los íconos a blanco */
    opacity: 0.8; /* Hacer que los íconos sean ligeramente transparentes */
    transition: color 0.3s, opacity 0.3s; /* Transición suave */
}

body.light-mode .fa-github {
    color: #0b0b0b; /* Cambiar el color de los íconos a blanco */
    opacity: 0.8; /* Hacer que los íconos sean ligeramente transparentes */
    transition: color 0.3s, opacity 0.3s; /* Transición suave */
}

