#sun-icon,
#moon-icon {
    display: none;
    color: rgb(51, 51, 51);
}

.light-mode #moon-icon {
    display: inline;
}

footer {
    background-color: rgb(51, 51, 51);
    color: white;
}

.light-mode .datagrid-item {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.dark-mode #sun-icon {
    display: inline;
    color: white;
}

body.dark-mode #name {
    animation: pulsate 1.5s infinite alternate;  
}


body.dark-mode .datagrid-item {
    border: 2px solid var(--main-color);
}

body.dark-mode button {
    border: 2px solid var(--main-color);
}

body.dark-mode {
    background-color: #121212;
    color: #E0E0E0;
}

.dark-mode button {
    background-color: #333333;
    border: 1px solid #444444;
}

body.dark-mode .fa-github {
    color: #FFFFFF;
    opacity: 0.8;
    transition: color 0.3s, opacity 0.3s;
}

body.light-mode .fa-github {
    color: #0b0b0b;
    opacity: 0.8;
    transition: color 0.3s, opacity 0.3s;
}


@keyframes pulsate {
    100% {
        text-shadow:
            0 0 2px #fff,
            0 0 6px #fff,
            0 0 10px #fff,
            0 0 20px #bc13fe,
            0 0 30px #bc13fe,
            0 0 40px #bc13fe,
            0 0 50px #bc13fe,
            0 0 70px #bc13fe;
    }

    0% {
        text-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 5px #bc13fe,
            0 0 15px #bc13fe,
            0 0 20px #bc13fe,
            0 0 25px #bc13fe,
            0 0 30px #bc13fe;
    }
}
