$shadow: ();



// Generar meteoros
@for $i from 1 through $n {
    $v: random(90) + 9; // izquierda
    $h: random(250) + 50; // arriba
    $d: random(70) / 10 + 3; // segundos

    .meteor-#{$i} {
        position: absolute;
        top: $h + px;
        left: $v * 1%;
        width: 300px;
        height: 1px;
        transform: rotate(-45deg);
        background-image: linear-gradient(to right, #000000, rgba(255, 255, 255, 0));
        animation: meteor $d + s linear infinite;

        &:before {
            content: "";
            position: absolute;
            width: 4px;
            height: 5px;
            border-radius: 50%;
            margin-top: -2px;
            background: rgba(#fff, .7);
            box-shadow: 0 0 15px 3px #000000;
        }
    }
}

.meteor {
    position: absolute;
    top: (random(250) + 50) + px;
    left: (random(90) + 9) * 1%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #000000, rgba(255, 255, 255, 0));
    animation: meteor (random(70) / 10 + 3) + s linear infinite;

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 5px;
        border-radius: 50%;
        margin-top: -2px;
        background: rgba(#000000, .7);
        box-shadow: 0 0 15px 3px #000000;
    }
}
