.inicio{
    display: flex;
    justify-content: center;  // Centramos horizontalmente
    align-items: center;     // Centramos verticalmente
    height: 100vh;           // Aseguramos que la sección ocupa toda la altura de la pantalla
    color: black;
}

.inicio-contenido {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem; /* Espacio entre columnas, ajusta según necesites */
    

}

.card {
    border: 2px solid white;
    background-color: #ffffff;
    opacity: 65%;
    border-radius: 1rem;
    padding: 20px;
    font-size: smaller;
}

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0; /* Redondea las esquinas superiores */
}

.card-description, .card-text {
    padding: 10px;
}

.card-description p, .card-text p {
    margin: 0;
}
