.inicio {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: repeat(2, auto); /* Tres filas de altura automática */
    gap: 1.5rem; /* Espacio entre las filas */
    text-align: center;
    padding: 20px;
    height: 95vh; /* Ajusta según tus necesidades; aquí ocupa toda la altura de la ventana */
    align-items: center; /* Centra los elementos verticalmente en cada fila */
}


.inicio h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.inicio h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.inicio p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.cv-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #000; /* Color del texto negro */
    background-color: #fff; /* Fondo blanco */
    border: 2px solid #000; /* Borde negro */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.cv-button:hover {
    color: #fff; /* Texto blanco al pasar el mouse */
    background-color: #5C7AFF; /* Fondo negro al pasar el mouse */
}

