@media screen and (max-width: 900px) {
    .header {
        background-image: url('../../img/blurry-gradient-haikei.png');
        background-size: cover; /* Asegura que la imagen cubra el elemento */
        background-position: center; /* Centra la imagen dentro del elemento */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        color: white;
        border-bottom: 5px solid black;
    }

    .hamburger {
        display: block;
        font-size: 1.3rem;
        color: white;
        /* Tamaño de los íconos */
    }

    .social-media {
        display: none;
    }

    .nav-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background-image: url('../../img/blurry-gradient-haikei.png');
        background-size: cover; /* Asegura que la imagen cubra el elemento */
        background-position: center; /* Centra la imagen dentro del elemento */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9998;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .no-scroll {
        overflow: hidden;
    }

    .hamburger .fa-bars {
        display: block;
    }



    .nav-links.show~.hamburger .fa-bars {
        display: none;
    }

    .nav-links.show~.hamburger .fa-times {
        display: block;
    }

    nav {
        grid-template-columns: auto;
        justify-items: center;
        text-align: center;
    }

    nav ul {
        margin-top: 1rem;
    }


    .stack-datagrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media screen and (max-width: 600px) {
    .header {
        background-color: #5C7AFF;
        color: white;
    }

    nav {
        grid-template-columns: auto;
        justify-items: center;
        text-align: center;
    }

    .hamburger .fa-times {
        color: white;
    }

    nav ul {
        color: white;
        display: none;
    }

    .datagrid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 2rem;
    }

}