/* Media queries para hacer responsive */
@media screen and (max-width: 900px) {
    nav {
      grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
      justify-items: center; /* Centra todos los elementos */
      text-align: center; /* Alinea el texto al centro */
    }
    nav ul {
      margin-top: 1rem;
    }
    .social-media {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    nav {
      grid-template-columns: auto; /* Cambia a una sola columna en dispositivos móviles */
      justify-items: center; /* Centra todos los elementos */
      text-align: center; /* Alinea el texto al centro */
    }
    nav ul {
      display: none;
    }
    .social-media {
      display: none;
    }
  }