
// Define breakpoints for responsiveness
$breakpoint-md: 900px;
$breakpoint-sm: 600px;

.stack {
    text-align: center;
    z-index: 2;
    height: 85vh;
    h1 {
        position: relative;
        z-index: 2;
        background-color:#F0F6F6;
    }
}

.datagrid-container {
    background-color:#F0F6F6;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Start with 3 columns
    grid-template-rows: repeat(3, 1fr); // Start with 3 rows
    padding: 20px; // Padding around the grid
    
    .datagrid-item {
      background-color: #f4f4f4;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  
  // Responsive adjustments for medium screens
  @media (max-width: $breakpoint-md) {
    .datagrid-container {
      grid-template-columns: repeat(2, 1fr); // Reduce to 2 columns on medium screens
      grid-template-rows: repeat(5, 1fr); // Adjust rows to fit content
    }
  }
  
  // Responsive adjustments for small screens
  @media (max-width: $breakpoint-sm) {
    .datagrid-container {
      grid-template-columns: 1fr; // Single column layout on small screens
      grid-template-rows: repeat(9, 1fr); // Each item gets its own row
    }
  
    .datagrid-item {
      padding: 15px; // Adjust padding for smaller screens
    }
  }
  
  