
.stack {
    height: 100vh;    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de 100px cada una */
    grid-template-rows: repeat(2, 11fr);    /* 2 filas de 100px cada una */
    gap: 2rem;                            /* Espacio entre los recuadros */
    justify-items: center;                /* Centra los recuadros horizontalmente en sus celdas */
    align-items: center;                  /* Centra los recuadros verticalmente en sus celdas */
  }
  
  .recuadro {
    width: 100px;
    height: 100px;
    background-color: #007bff; /* Color de fondo para los recuadros */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white; /* Borde blanco para los recuadros */
    font-size: 18px;
  }
  