.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: left;
  margin-right: auto;
  /* Asegura que el logo esté pegado a la izquierda */
}

.nav-links {
  flex: 2;
  text-align: center;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.social-media {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;

}

.social-media a {

  text-decoration: none;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  background: #dfdfdf;
  -webkit-box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;
}

/* Estilos para el menú de hamburguesa */
.hamburger {
  display: none;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 9999;
  /* Asegura que esté sobre todo lo demás */
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    /* Oculta los enlaces en pantallas pequeñas */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo oscuro con transparencia */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    /* Asegura que esté justo debajo del botón de hamburguesa */
  }

  .nav-links ul {
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger .fa-bars {
    display: block;
  }

  .hamburger .fa-times {
    display: none;
  }

  .nav-links.show~.hamburger .fa-bars {
    display: none;
  }

  .nav-links.show~.hamburger .fa-times {
    display: block;
  }

  .social-media {
    display: none;
    /* Oculta las redes sociales en pantallas pequeñas */
  }
}